html {
  min-height: 100%;
  position: relative;
}
div#content-container {
    margin-bottom: 45px;
}
.main-content {
    margin-bottom: 90px;
}
.rss-feed {
    font-size: 77%;
    margin-left: 0.35em;
}
.rss-feed a {
    color: #FF6600;
}
#container-content {
    margin-bottom: 25px;
}
.default-cursor {
    cursor: default;
}
.clickable-table tbody tr {
    cursor: pointer;
}
.pull-middle {
    vertical-align: middle !important;
}
.pull-center {
    text-align: center !important;
    vertical-align: middle !important;
}
.log-column {
    min-width: 115px;
}
.failure-column {
    max-width: 260px;
    width: 260px;
}
.board-column {
    max-width: 120px;
    min-width: 90px;
}
.commit-column,
.kernel-column {
    max-width: 110px;
    min-width: 90px;
}
.defconfig-column {
    max-width: 130px;
    min-width: 90px;
}
.arch-column {
    width: 35px;
}
table {
    font-size: 90%;
}
.date-column {
    max-width: 70px;
    min-width: 70px;
}
.lab-column {
    max-width: 100px;
    min-width: 80px;
}
.select-column {
    max-width: 30px;
    min-width: 30px;
    width: 30px;
}
.test-count,
.build-count {
    min-width: 100px;
}
td.defconfig-column-nf,
td.kernel-column-nf,
.branch-column,
.failure-column,
.tree-column,
.commit-column,
.board-column,
.defconfig-column,
.compiler-column,
.kernel-column {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table tbody td a.table-link {
    color: inherit;
}
.panel-heading,
.pointer,
.other-header span span i {
    cursor: pointer;
}
.build-warnings {
    float: left;
    left: 50%;
    min-width: 30%;
    position: absolute;
}
.warn-err-dropdown {
    float: right;
}
.warn-err-menu {
    min-width: 250px;
}
.unselectable {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: default;
    user-select: none;
}
#success-cell, #fail-cell, #unknown-cell {
    cursor: pointer;
}
.pie-chart {
    margin: 0 auto;
}
.pie-chart td {
    border-bottom: 3px solid;
    text-align: center;
    width: 25px;
}
.pie-chart td:nth-child(even) {
    border: none;
}
.chart-div {
    text-align: -webkit-center;
}
.pie-chart-inside {
    font-size: xx-large;
    font-weight: bold;
}
.pie-chart-data {
    font-size: small;
    font-weight: lighter;
}
.btn-group {
    padding-bottom: 1em;
}
.big-table td {
    border-spacing: 0;
    border: 0;
    padding: 0;
}
.bisect-table {
    table-layout: fixed;
}
.bisect-table thead tr th {
    text-align: center;
    vertical-align: middle;
}
.bisect-table tbody tr td:first-child, tbody tr td:nth-child(0) {
    text-align: left;
    vertical-align: middle;
}
.bisect-table tbody tr td {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}
.bisect-tooltip {
    overflow: visible !important;
    text-overflow: clip !important;
    white-space: normal !important;
}
.bisect-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bisect-table thead tr th:first-child, thead tr th:nth-child(0),
.bisect-table tbody tr td:first-child, tbody tr td:nth-child(0) {
    border: none;
}
.bisect-table tbody tr:hover td:first-child .bisect-text,
.bisect-table tbody tr:hover th:first-child .bisect-text {
    font-weight: bold;
}
.bisect-back {
    margin-bottom: 5px;
    margin-top: 5px;
}
.clean-link a:link a:visited a:hover a:active a:focus {
    text-decoration: none;
}
.extra-margin {
    margin-right: 5px;
}
.red-font {
    color: #d9534f;
}
.green-font {
    color: #5cb85c;
}
.yellow-font {
    color: #f0ad4e;
}
div.tooltip-inner {
    max-width: 350px;
}
div.dataTables_filter input {
    margin-left: 0 !important;
}
div.dataTables_paginate,
div.dataTables_filter {
    float: right;
}
.date-range {
    margin-bottom: 27px;
}
.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 90px;
    position: absolute;
    width: 100%;
}
.footer > .container {
    font-size: small;
    font-weight: lighter;
    padding-top: 0.4em;
}
.footer .text-muted {
    margin: 21px 0;
}
.footer > ul {
    margin-bottom: 0;
}
.arch-label {
    font-size: 88%;
    font-weight: normal;
}
.faq dt {
    margin-top: 15px;
}
.faq dd {
    margin-bottom: 15px;
}
.command {
    font-family: monospace;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.details {
    margin-left: 5px;
}
.larger-modal {
    width: 1024px;
}
.bisect-content {
    margin-bottom: 20px;
    margin-top: 5px;
}
.bisect-compare-desc {
    margin-left: 10px;
}
.other-header h4, h3, span {
    display: inline;
}
.other-header {
    margin-bottom: 15px;
    margin-left: 4px;
    margin-top: 25px;
}
hr.subheader {
    margin-bottom: 15px;
    margin-top: 7px;
}
hr.blurred {
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0.03), rgba(0,0,0,0.10), rgba(0,0,0,0.03));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0.03), rgba(0,0,0,0.10), rgba(0,0,0,0.03));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.03), rgba(0,0,0,0.10), rgba(0,0,0,0.03));
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.03), rgba(0,0,0,0.10), rgba(0,0,0,0.03));
    border: 0;
    height: 1px;
}
textarea.build-logs {
    font-family: monospace;
    font-size: 83%;
    margin-bottom: 0.75em;
}
/* Override some dataTables values. */
div.dataTables_info,
div.dataTables_paginate {
    font-size: smaller;
}
div.paging {
    padding-top: 0.5em;
}
.table-process {
    font-size: smaller;
    overflow: hidden;
    padding-top: 0.35em;
    text-align: center;
    text-overflow: ellipsis;
}
div.qemu-command {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.qemu-command > textarea {
    font-size: 83%;
    font-family: monospace;
}
.fa-spin {
    -webkit-filter: blur(0);
}
.dd-defconfig {
    overflow-wrap: break-word;
    word-break: break-word;
}
