svg {
  font-size: 12px;
}
.x-axis text:hover,
circle:hover {
    cursor: pointer;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    opacity: 1;
    shape-rendering: crispEdges;
}
.y-axis line {
    stroke: gray;
    stroke-dasharray: 1, 5;
    opacity: 0.8;
}
line.y-first {
    stroke: black;
    opacity: 1;
    stroke-dasharray: none;
}
.line path {
    fill: none;
}
.rate-line {
    fill: none;
    stroke-width: 1;
}
path.area {
    fill: #5cb85c;
    opacity: 0.4;
}
circle {
    fill: white;
}
.rate-line,
circle.pass-dot {
    stroke: #5cb85c;
}
text {
    text-rendering: optimizeLegibility;
}
