html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.rss-feed {
    font-size: small;
}
.rss-feed a {
    color: #FF6600;
}
#container-content {
    margin-bottom: 25px;
}
.clickable-table tbody tr {
    cursor: pointer;
}
.pull-center {
    text-align: center !important;
    vertical-align: middle !important;
}
.board-column {
    max-width: 130px;
}
.commit-column,
.defconfig-column,
.kernel-column {
    max-width: 240px;
}
.commit-column,
.board-column,
.defconfig-column,
.kernel-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table tbody td a.table-link {
    color: inherit;
}
.panel-heading,
.pointer,
.other-header span span i {
    cursor: pointer;
}
.build-warnings {
    position: absolute;
    min-width: 30%;
    float: left;
    left: 50%;
    padding-top: 0.5em;
}
.warn-err-dropdown {
    float: right;
}
.warn-err-menu {
    min-width: 250px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
#success-cell, #fail-cell, #unknown-cell {
    cursor: pointer;
}
.pie-chart {
    margin: 0 auto;
}
.pie-chart td {
    text-align: center;
    width: 25px;
    border-bottom: 3px solid;
}
.pie-chart td:nth-child(even) {
    border: none;
}
.chart-div {
    text-align: -webkit-center;
}
.pie-chart-inside {
    font-weight: bold;
    font-size: xx-large;
}
.pie-chart-data {
    font-weight: lighter;
    font-size: small;
}
.btn-group {
    padding-bottom: 1em;
}
.big-table td {
    border: 0;
    border-spacing: 0;
    padding: 0;
}
.bisect-table {
    table-layout: fixed;
}
.bisect-table thead tr th {
    text-align: center;
    vertical-align: middle;
}
.bisect-table tbody tr td:first-child, tbody tr td:nth-child(0) {
    text-align: left;
    vertical-align: middle;
}
.bisect-table tbody tr td {
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.bisect-tooltip {
    text-overflow: clip !important;
    white-space: normal !important;
    overflow: visible !important;
}
.bisect-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.bisect-table thead tr th:first-child, thead tr th:nth-child(0),
.bisect-table tbody tr td:first-child, tbody tr td:nth-child(0) {
    border: none;
}
.bisect-table tbody tr:hover td:first-child .bisect-text,
.bisect-table tbody tr:hover th:first-child .bisect-text {
    font-weight: bold;
}
.bisect-back {
    margin-top: 5px;
    margin-bottom: 5px;
}
.clean-link a:link a:visited a:hover a:active a:focus {
    text-decoration: none;
}
.extra-margin {
    margin-right: 5px;
}
.red-font {
    color: #d9534f;
}
.green-font {
    color: #5cb85c;
}
.yellow-font {
    color: #f0ad4e;
}
div.tooltip-inner {
    max-width: 350px;
}
div.dataTables_filter input {
    margin-left: 0 !important;
}
div.dataTables_paginate,
div.dataTables_filter {
    float: right;
}
.date-range {
    margin-bottom: 27px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer .text-muted {
    margin: 21px 0;
}
.arch-label {
    font-weight: normal;
    font-size: 88%;
}
.footer > .container {
    font-size: small;
    font-weight: lighter;
    margin-top: 9px;
    margin-bottom: 3px;
}
.faq dt {
    margin-top: 15px;
}
.faq dd {
    margin-bottom: 15px;
}
.command {
    font-size: small;
    font-family: monospace;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.details {
    margin-left: 5px;
}
.larger-modal {
    width: 1024px;
}
.bisect-content {
    margin-top: 5px;
    margin-bottom: 20px;
}
.bisect-compare-desc {
    margin-left: 10px;
}
.other-header h4, h3, span {
    display: inline;
}
.other-header {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 4px;
}
/*.other-header span span i {
    cursor: pointer;
}*/
hr.subheader {
    margin-top: 7px;
    margin-bottom: 15px;
}
hr.blurred {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.03), rgba(0,0,0,0.10), rgba(0,0,0,0.03));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0.03), rgba(0,0,0,0.10), rgba(0,0,0,0.03));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0.03), rgba(0,0,0,0.10), rgba(0,0,0,0.03));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.03), rgba(0,0,0,0.10), rgba(0,0,0,0.03));
}
