.clickable-table tbody tr {
    cursor: pointer;
}

.pull-center {
    text-align: center !important;
    vertical-align: middle !important;
}

.table tbody td a.table-link {
    color: inherit;
}

.panel-heading {
    cursor: pointer;
}

#success-cell, #fail-cell, #unknown-cell {
    cursor: pointer;
}

#builds-chart-legend td {
    text-align: center;
    width: 25px;
    border-bottom: 3px solid;
}

#builds-chart-legend td:nth-child(even) {
    border: none;
}

.chart-div {
    text-align: -webkit-center;
}

.btn-group {
    padding-bottom: 1em;
}

.big-table td {
    border: 0;
    border-spacing: 0;
    padding: 0;
}

.bisect-table {
    table-layout: fixed;
}

.bisect-table thead tr th {
    text-align: center;
    vertical-align: middle;
}

.bisect-table tbody tr td:first-child, tbody tr td:nth-child(0) {
    text-align: left;
    vertical-align: middle;
}

.bisect-table tbody tr td {
    text-align: center;
    vertical-align: middle;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bisect-tooltip {
    text-overflow: clip !important;
    white-space: normal !important;
    overflow: visible !important;
}

.bisect-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bisect-table thead tr th:first-child, thead tr th:nth-child(0) {
    border: none;
}

.bisect-table tbody tr td:first-child, tbody tr td:nth-child(0) {
    border: none;
}

.bisect-table tbody tr:hover td:first-child .bisect-text,
.bisect-table tbody tr:hover th:first-child .bisect-text  {
    font-weight: bold;
}
