.axis path,
.axis line {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}
.y-axis .minor line {
    stroke-dasharray: 1, 5;
    opacity: 0.8;
}
.x-axis line {
    stroke: black;
    opacity: 1;
}
.graph-dot {
    fill: white;
}
.x-tick,
.graph-dot {
    cursor: pointer;
}
.line path {
    fill: none;
}
.pass-line,
.pass-dot,
.pass-legend {
    stroke: #5cb85c;
}
.fail-line,
.fail-dot,
.fail-legend {
    stroke: #d9534f;
}
.time-line,
.boot-dot {
    stroke: orange;
}
.x-grid path {
    stroke-width: 0;
}
.x-grid line {
    stroke: gray;
    stroke-opacity: 0.25;
    shape-rendering: crispEdges;
}
.hover-group polyline {
    fill: none;
    stroke: gray;
    stroke-width: 1.5;
    stroke-dasharray: 5, 5;
}
.legend {
    font-size: smaller;
    text-rendering: optimizeLegibility;
}
.legend rect {
    cursor: pointer;
}
.fail-legend,
.pass-legend {
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.pass-legend {
    fill: #5cb85c;
}
.fail-legend {
    fill: #d9534f;
}
.legend-clicked {
    fill: white;
}
.hidden {
    display: none;
    visibility: hidden;
}
