<div>
    <div>
        <h3>Overview</h3>
        <dl>
            <dt><strong>Tree</strong></dt><dd>{{ job }}</dd>
            <dt><strong>Git branch</strong></dt><dd>{{ git_branch }}</dd>
            <dt><strong>Git URL</strong></dt><dd>{{ git_url }}</dd>
            <dt><strong>Git commit</strong></dt><dd>{{ git_commit }}</dd>
        </dl>
    </div>
    <div>
        <h3>Boot Reports Count</h3>
        <div style="margin-left: 25px">
            Total: {{ total_boots }}
            <br/>
            Passed: {{ passed_boots }}
            <br/>
            Failed: {{ failed_boots }}
            <br/>
            Other: {{ other_boots }}
        </div>
    </div>
{%- if content_links %}
    <div>
        <h3>Links</h3>
        <div>
            <ul>
            {%- for link in content_links %}
                <li>
                    <a href="{{ link.href }}">{{ link.label }}</a>
                </li>
            {%- endfor %}
            </ul>
        </div>
    </div>
{%- endif %}
</div>
