<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%- block title %}{%- endblock %}</title>
{%- block head %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
{%- endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="li-home"><a id="home-l" href="/">Home</a></li>
            <li id="li-job"><a id="job-l" href="/job">Jobs</a></li>
            <li id="li-build"><a id="build-l" href="/build">Builds</a></li>
            <li id="li-boot"><a id="boot-l" href="/boot">Boots</a></li>
            <li id="li-info"><a id="info-l" href="/info">Info</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
        <div id="errors-container"></div>
        <div id="container-content">
            {%- block content %}{%- endblock %}
        </div>
    </div>
    {% include "hotkeys.html" %}
{%- block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.hotkeys-1.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.hotkeymap-1.0.min.js"></script>
<script type="text/javascript" src="/static/js/linaro-hotkeys-1.0.min.js"></script>
{%- endblock %}
</body>
</html>
