{% extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap-1.10.11.css">
{%- endblock %}
{%- block content %}
{%- include "date-range.html" %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="table-loading" class="pull-center">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;retrieving data&hellip;
            </small>
        </div>
    {%- if is_mobile %}
        <div class="table-responsive" id="table-div">
    {%- else %}
        <div class="table" id="table-div">
    {%- endif %}
            <table class="table table-hover table-striped table-condensed clickable-table big-table" id="{{ table_id }}">
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="search-filter" value="{{ search_filter }}">
<input type="hidden" id="page-len" value="{{ page_len }}">
{%- endblock %}{# content block #}
{%- block scripts %}
<script data-main="/static/js/{{ data_main }}" src="/static/js/lib/require.js?2018-09-14"></script>
{%- endblock %}
