<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kernel CI - Builds and boots reporting dashboard">
    <meta name="robots" content="index,folow,nosnippet">
    {%- block meta -%}{%- endblock %}
    <title>{%- block title %}{%- endblock %}</title>
    {%- block head %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/linaro-base-1.0.15.css">
    {%- endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" id="top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="li-home">
                        <a id="home-l" href="/">
                            <i class="fa fa-home"></i>&nbsp;Home
                        </a>
                    </li>
                    <li id="li-job">
                        <a id="job-l" href="/job">
                            <i class="fa fa-sitemap"></i>&nbsp;Jobs
                        </a>
                    </li>
                    <li id="li-build">
                        <a id="build-l" href="/build">
                            <i class="fa fa-cube"></i>&nbsp;Builds
                        </a>
                    </li>
                    <li id="li-boot">
                        <a id="boot-l" href="/boot">
                            <i class="fa fa-hdd-o"></i>&nbsp;Boots
                        </a>
                    </li>
                    <li id="li-info">
                        <a id="info-l" href="/info">
                            <i class="fa fa-info"></i>&nbsp;Info
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% include "hotkeys.html" %}
    <div class="container">
        <div id="errors-container"></div>
        <div id="container-content">
            {%- block content %}{%- endblock %}
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li>
                            <a title="Frequently asked questions" href="/faq">FAQ</a>
                        </li>
                        <li>
                            <a title="Contact us" href="/contact/">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li>
                            Version:&nbsp;
                            <span class="rel-tooltip" data-toggle="tooltip" title="Kernel CI Dashboard version">
                                <a href="https://git.linaro.org/infrastructure/kernel-ci-frontend.git/log/refs/tags/{{ front_version }}">{{ front_version }}</a>
                            </span>
                            &nbsp;|&nbsp;
                            <span class="rel-tooltip" data-toggle="tooltip" title="Kernel CI API version" id="api-version">
                                <i class="fa fa-cog fa-spin"></i>
                            </span>
                        </li>
                        <li>
                            <a title="API documentation" href="http://api.kernelci.org">
                                API documentation
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<input type="hidden" id="date-range" value="{{ config['DATE_RANGE'] }}"> {%- block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.11.2/URI.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.1/sprintf.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.hotkeys-1.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.hotkeymap-1.0.min.js"></script>
<script type="text/javascript" src="/static/js/linaro-base-1.0.8.js"></script>
<script type="text/javascript">
function apiVersionLinkSuccess(data) {
    'use strict';
    var localData = data.result,
        dataLen = localData.length,
        version = null,
        apiHref = $('#api-version');
    if (dataLen > 0) {
        version = localData[0].version;
        apiHref.empty().append(
            '<a href="' +
            'https://git.linaro.org/infrastructure/kernel-ci-backend.git/' +
            'log/refs/tags/' + version + '">' + version + '</a>');
    } else {
        apiHref.empty().append('&infin;');
    }
}
function apiVersionLinkFail() {
    'use strict';
    $('#api-version').empty().append('<i class="fa fa-question"><i>');
}
$(document).ready(function() {
    var ajaxDeferred = JSBase.createDeferredCall(
        '/_ajax/version',
        'GET',
        null,
        null,
        null,
        'Error loading API version number'
    );
    // Activate common options.
    JSBase.init();
    $.when(ajaxDeferred).then(apiVersionLinkSuccess, apiVersionLinkFail);
});
</script>
{%- block analytics %}{%- if analytics %}
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{%- endif %}{%- endblock %} {# Analytics block #}
{%- endblock %}
</body>
</html>
