{% extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css">
{%- endblock %}
{%- block content %}
{%- include "date-range.html" %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="table-loading" class="pull-center">
            <i class="fa fa-cog fa-2x fa-spin"></i>&nbsp;loading&hellip;
        </div>
    {%- if is_mobile %}
        <div class="table-responsive" id="table-div">
    {%- else %}
        <div class="table" id="table-div">
    {%- endif %}
            <table class="table table-hover table-striped table-condensed clickable-table big-table" id="bootstable">
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="board-name" value="{{ board }}">
<input type="hidden" id="page-len" value="{{ page_len }}">
<input type="hidden" id="search-filter" value="{{ search_filter }}">
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.3/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/js/linaro-boots-board-0.0.2.js"></script>
{%- endblock %}
