<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 boot-deprecation" align="center">
      <h2>
        &#x26A0;&nbsp;Boot tests have now been deprecated&nbsp;&#x26A0;
      </h2>
      <p>
        As kernelci.org is expanding its functional testing capabilities, the
        concept of boot testing has now been deprecated.
      </p>
      <p>
        The new equivalent is the <span style="font-weight:
        bold">baseline</span> test suite which also does some extra checks
        including <a href="https://github.com/kernelci/bootrr">bootrr</a>.
      </p>
      <p>
        Baseline results can be found using this filter in
        the <a href="https://kernelci.org/test/">Tests</a>
        tab: <a href="https://kernelci.org/test/?baseline">https://kernelci.org/test/?baseline</a>
      </p>
    </div>
</div>
