{% extends 'base.html' %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">
{%- endblock %}
{%- block content %}
{% include "date-range.html" %}
<br />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
            <table cellpadding="0" cellspacing="0" border="0"
                class="table table-hover table-striped table-condensed clickable-table" id="bootstable">
            </table>
        </div>
    </div>
</div>
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.0/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/js/linaro-jslib-1.0.min.js"></script>
<script type="text/javascript" src="/static/js/linaro-boots-1.0.1.js"></script>
{%- endblock %}
