{%- extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap-1.10.11.css">
{%- endblock %}
{%- block content %}
{%- include "boots-deprecation.html" %}
<div class="row">
    <div class="page-header">
        <h3>{{ body_title|safe }}</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <dl class="dl-horizontal">
            <dt>Tree</dt>
            <dd id="dd-tree" class="loading-content">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git describe</dt>
            <dd id="dd-git-describe" class="loading-content">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Defconfig</dt>
            <dd id="dd-defconfig" class="loading-content">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
</div>
<div class="row" id="boot-reports">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="table-loading" class="pull-center">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
        </div>
    {%- if is_mobile %}
        <div class="table-responsive" id="table-div">
    {%- else %}
        <div class="table" id="table-div">
    {%- endif %}
            <table class="table table-hover table-striped table-condensed clickable-table big-table" id="boots-table">
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="file-server" value="{{ config['FILE_SERVER_URL'] }}">
<input type="hidden" id="job-name" value="{{ job }}">
<input type="hidden" id="kernel-name" value="{{ kernel }}">
<input type="hidden" id="defconfig-full" value="{{ defconfig }}">
<input type="hidden" id="search-filter" value="{{ search_filter }}">
<input type="hidden" id="page-len" value="{{ page_len }}">
{%- endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-boots-all-job-kernel-defconfig" src="/static/js/lib/require.js"></script>
{%- endblock %}
