{%- extends 'base.html' %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
    <h3>{{ body_title|safe }}</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <dl class="dl-horizontal" id="dl-right">
        <dt>Board</dt>
        <dd id="dd-board-board" class="loading-content">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Endianness</dt>
        <dd id="dd-board-endianness" class="loading-content">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Tree</dt>
        <dd id="dd-board-tree" class="loading-content">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Git describe</dt>
        <dd id="dd-board-kernel" class="loading-content">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Defconfig</dt>
        <dd id="dd-board-defconfig" class="loading-content">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
    </dl>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <dl class="dl-horizontal" id="dl-left">
        <dt>Status</dt>
        <dd id="dd-board-status" class="loading-content">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Architecture</dt>
        <dd id="dd-board-arch" class="loading-content">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Warnings</dt>
        <dd id="dd-board-warnings" class="loading-content">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Boot time</dt>
        <dd id="dd-board-boot-time" class="loading-content">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Boot log</dt>
        <dd id="dd-board-boot-log" class="loading-content">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
    </dl>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <dl class="dl-horizontal" id="dl-right-other">
            <dt>Dtb</dt>
            <dd id="dd-board-dtb" class="loading-content">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Dtb address</dt>
            <dd id="dd-board-dtb-address" class="loading-content">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Load address</dt>
            <dd id="dd-board-load-address" class="loading-content">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Initrd address</dt>
            <dd id="dd-board-initrd-address" class="loading-content">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Kernel image</dt>
            <dd id="dd-board-kernel-image" class="loading-content">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
        </dl>
    </div>
</div>
<div class="row" id="multiple-labs">
    <div class="page-header">
        <h4>Other boot reports</h4>
    </div>
    {%- include "other-multiple-boot-reports.html" %}
</div>
<div class="row hidden" id="bisect-div">
    <div class="page-header">
        <h4>Boot bisect for board &#171;{{ board }}&#187;</h4>
    </div>
    {%- include "other-bisect-content.html" %}
</div>
<input type="hidden" id="file-server" value='{{ config["FILE_SERVER_URL"] }}'>
<input type="hidden" id="board-name" value="{{ board }}">
<input type="hidden" id="job-name" value="{{ job }}">
<input type="hidden" id="kernel-name" value="{{ kernel }}">
<input type="hidden" id="defconfig-name" value="{{ defconfig }}">
<input type="hidden" id="lab-name" value="{{ lab_name }}">
<input type="hidden" id="boot-id" value='{{ boot_id }}'>
{# Beware the single quotes on this variable! #}
<input type="hidden" id="url-translation" value='{{ url_translation|tojson|safe }}'>
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/js/linaro-boots-id-1.1.4.js"></script>
{%- endblock %}
