{% extends 'base.html' %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">
{%- endblock %}
{%- block content %}
{% include "date_range.html" %}
<br />
<div class="row">
    <div class="col-lg-12">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-striped" id="boots-table">
        </table>
    </div>
</div>
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.10.0/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/js/kernelci.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#li-boot').addClass('active');

    $('body').tooltip({
        'selector': '[rel=tooltip]',
        'placement': 'auto'
    });

    $('#boots-table').dataTable({
        'dom': "<'row'<'col-lg-6'l><'col-lg-4 col-lg-offset-2'f>r>t" +
            "<'row'<'col-lg-6'i><'col-lg-6'p>>",
        'language': {
            'lengthMenu': '_MENU_&nbsp;<strong>boot reports per page</strong>',
            'zeroRecords': '<strong>No boot reports to display.</strong>',
            'search': '<div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span>_INPUT_</div>'
        },
        'lengthMenu': [25, 50, 75, 100],
        'ordering': true,
        'processing': true,
        'stateDuration': -1,
        'stateSave': true,
        'order': [4, 'desc'],
        'search': {
            'regex': true
        },
        'ajax': {
            'type': 'GET',
            'url': '/_ajax/boot',
            'traditional': true,
            'dataSrc': 'result',
            'data': {
                'sort': 'created_on',
                'sort_order': -1,
                'date_range': 15,
                'field': [
                    'job', 'kernel', 'defconfig', 'board', 'created_on',
                    'status'
                ]
            }
        },
        'columns': [
            {
                'data': 'job',
                'title': 'Tree'
            },
            {
                'data': 'kernel',
                'title': 'Kernel'
            },
            {
                'data': 'defconfig',
                'title': 'Defconfig'
            },
            {
                'data': 'board',
                'title': 'Board Model'
            },
            {
                'data': 'created_on',
                'title': 'Date',
                'type': 'date',
                'render': function(data, type, object) {
                    var created = new Date(data);
                    return created.getCustomISODate();
                }
            },
            {
                'data': 'status',
                'title': 'Status',
                'render': function(data, type, object) {
                    var displ;
                    switch (data) {
                        case 'PASS':
                            displ = '<span rel="tooltip" ' +
                                'data-toggle="tooltip"' +
                                'title="Boot completed">' +
                                '<span class="label label-success">' +
                                '<i class="fa fa-check"></i></span></span>';
                            break;
                        case 'FAIL':
                            displ = '<span rel="tooltip" ' +
                                'data-toggle="tooltip"' +
                                'title="Boot failed">' +
                                '<span class="label label-danger">' +
                                '<i class="fa fa-exclamation-triangle">' +
                                '</i></span></span>';
                            break;
                        default:
                            displ = '<span rel="tooltip" ' +
                                'data-toggle="tooltip"' +
                                'title="Unknown status">' +
                                '<span class="label label-warning">' +
                                '<i class="fa fa-question">' +
                                '</i></span></span>';
                            break;
                    }
                    return displ;
                }
            },
            {
                'data': 'board',
                'title': '',
                'orderable': false,
                'searchable': false,
                'render': function(data, type, object) {
                    var defconfig = object['defconfig'],
                        kernel = object['kernel'],
                        job = object['job'];

                    return '<span rel="tooltip" data-toggle="tooltip"' +
                        'title="Details for board&nbsp;' + data + 'with&nbsp;' +
                        job + '&dash;' + kernel + '&dash;' + defconfig +
                        '"><a href="/boot/' + data + '/job/' + job +
                        '/kernel/' + kernel + '/defconfig/' + defconfig + '">' +
                        '<i class="fa fa-search"></i></a></span>';
                }
            }
        ]
    });

    $('.input-sm').attr('placeholder', 'Filter the results');
});
</script>
{%- endblock %}