{%- extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
    <h3 id="body-title">Boot details for board&nbsp;</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <dl class="dl-horizontal" id="dl-right">
        <dt>Lab name</dt>
        <dd id="dd-lab-name" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Board</dt>
        <dd id="dd-board-board" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Board instance</dt>
        <dd id="dd-board-instance" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Tree</dt>
        <dd id="dd-board-tree" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Git branch<dt>
        <dd id="dd-board-branch" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Git describe</dt>
        <dd id="dd-board-kernel" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Defconfig</dt>
        <dd id="dd-board-defconfig" class="loading-content dd-defconfig">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Date</dt>
        <dd id="dd-date" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
    </dl>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <dl class="dl-horizontal" id="dl-left">
        <dt>Status</dt>
        <dd id="dd-board-status" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Architecture</dt>
        <dd id="dd-board-arch" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>SoC</dt>
        <dd id="dd-board-soc" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Endianness</dt>
        <dd id="dd-board-endianness" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Warnings</dt>
        <dd id="dd-board-warnings" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Boot time</dt>
        <dd id="dd-board-boot-time" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
        <dt>Boot log</dt>
        <dd id="dd-board-boot-log" class="loading-content">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
            </small>
        </dd>
    </dl>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <dl class="dl-horizontal">
            <dt>Compiler string</dt>
            <dd class="loading-content" id="compiler-version-full">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Cross-compile</dt>
            <dd class="loading-content" id="cross-compile">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Compiler</dt>
            <dd class="loading-content" id="build-environment">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <dl class="dl-horizontal" id="dl-right-other">
            <dt>Dtb</dt>
            <dd id="dd-board-dtb" class="loading-content">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Dtb address</dt>
            <dd id="dd-board-dtb-address" class="loading-content">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Load address</dt>
            <dd id="dd-board-load-address" class="loading-content">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Initrd address</dt>
            <dd id="dd-board-initrd-address" class="loading-content">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Kernel image</dt>
            <dd id="dd-board-kernel-image" class="loading-content">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <dl class="dl-horizontal" id="dl-left-other">
            <dt>Boot retries</dt>
            <dd id="dd-retries" class="loading-content">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
</div>
<div id="other-details-div" class="row hidden"></div>
<div id="multiple-labs" class="row">
    <div class="page-header">
        <h3>Other Boot Reports</h3>
    </div>
    {%- include "other-multiple-boot-reports.html" %}
</div>
<div id="bisect" class="row hidden">
    <div class="page-header">
        <h3>Boot Bisect</h3>
    </div>
    <div id="bisect-div" class="hidden" >
        <div id="bisect-default" class="other-header">
            <h4>Default bisect</h4>
            {# Placeholder for the show/hide button created dynamically #}
            <span class="pull-right" id="bootb-showhide"></span>
            <hr class="blurred subheader" />
        </div>
        <div id="view-bootb-showhide" class="pull-center"></div>
        {%- include "other-bisect-content.html" %}
    </div>
    <div id="bisect-compare-div" class="hidden">
        <div id="bisect-compared" class="other-header">
            <h4>Compared to &#171;mainline&#187;</h4>
            {# Placeholder for the show/hide button created dynamically #}
            <span class="pull-right" id="bootb-compare-showhide"></span>
            <hr class="blurred subheader" />
        </div>
        <div id="view-bootb-compare-showhide" class="pull-center"></div>
        {%- include "other-bisect-compare-content.html" -%}
    </div>
</div>
<input type="hidden" id="file-server" value='{{ config["FILE_SERVER_URL"] }}'>
<input type="hidden" id="boot-id" value="{{ boot_id }}">
{%- endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-boots-id" src="/static/js/lib/require.js"></script>
{%- endblock %}
