{%- extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap-1.10.10.css">
<link rel="stylesheet" type="text/css" href="/static/css/kci-graphs-compare-2015.9.1.css">
<style type="text/css">
.diff-text {
    font-size: smaller;
}
.diff-text-head {
    font-weight: bold;
    font-size: 102%;
}
.diff-text-head-other {
    font-weight: normal;
    fill: #777777;
    font-size: 80%;
}
svg > g.matrix rect.matrix-background {
    stroke: #DDD;
    stroke-width: 1.5;
    fill: transparent;
}
svg > g.y text {
    font-size: 90%;
}
svg {
    cursor: default;
}
svg > g.matrix {
    cursor: default;
}
.font-awe {
    font-family: FontAwesome;
}
</style>
{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3>Boot Comparison&nbsp;<span id="body-title"></span></h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="summary-baseline">
            <div>
                <dl class="dl-horizontal">
                    <dt>Lab name</dt>
                    <dd id="dd-lab-name" class="loading-content">
                        <small><i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;</small>
                    </dd>
                    <dt>Board</dt>
                    <dd id="dd-board" class="loading-content">
                        <small><i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;</small>
                    </dd>
                    <dt>Board instance</dt>
                    <dd id="dd-board-instance" class="loading-content">
                        <small><i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;</small>
                    </dd>
                    <dt>Tree</dt>
                    <dd id="dd-tree" class="loading-content">
                        <small><i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;</small>
                    </dd>
                    <dt>Git branch</dt>
                    <dd id="dd-branch" class="loading-content">
                        <small><i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;</small>
                    </dd>
                    <dt>Git describe</dt>
                    <dd id="dd-kernel" class="loading-content">
                        <small><i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;</small>
                    </dd>
                    <dt>Defconfig</dt>
                    <dd id="dd-defconfig" class="loading-content">
                        <small><i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;</small>
                    </dd>
                    <dt>Git URL</dt>
                    <dd id="dd-url" class="loading-content">
                        <small><i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;</small>
                    </dd>
                    <dt>Git commit</dt>
                    <dd id="dd-commit" class="loading-content">
                        <small><i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;</small>
                    </dd>
                    <dt>Date</dt>
                    <dd id="dd-date" class="loading-content">
                        <small><i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;</small>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="summary-against">
            <div>
                <h4>Compared Boot Reports</h4>
            </div>
            <div>
{%- if is_mobile %}
                <div class="table-responsive no-data" id="summary-table-div">
{%- else %}
                <div class="table no-data" id="summary-table-div">
{%- endif %}
                    <table class="table table-hover table-striped table-condensed clickable-table big-table" id="compared-against">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
            <h4>Boot Reports Differences</h4>
        </div>
        <div id="diff-matrix"></div>
    </div>
</div>
<input type="hidden" id="compare-id" value="{{ compare_id }}">
{%- endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-boot-compare" src="/static/js/lib/require.js"></script>
{%- endblock %}
