<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 boot-deprecation">
      <h2 align="center">
        &#x26A0;&nbsp;Boot tests are now deprecated&nbsp;&#x26A0;
      </h2>
      <p>
        As kernelci.org is expanding its functional testing capabilities, the
        concept of boot testing is now deprecated.  Boot results are scheduled
        to be dropped on <span style="font-weight: bold">5th June 2020</span>.
        The full schedule for boot tests deprecation is available
        on <a href="https://github.com/kernelci/kernelci-backend/issues/238">GitHub</a>.
      </p>
      <p>
        The new equivalent is the <span style="font-weight:
        bold">baseline</span> test suite which also does some extra checks
        including <a href="https://github.com/kernelci/bootrr">bootrr</a>.
      </p>
      <p>
        And of course, a lot of functional test suites are in the process of
        being added: kselftest, KUnit, LTP, xfstests, i-g-t, v4l2-compliance,
        suspend/resume...  Stay tuned!
      </p>
    </div>
</div>
