{%- extends 'base.html' %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
    <h3>{{ boot_title|safe }}</h3>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <dl class="dl-horizontal" id="dl-right">
        <dt>Board</dt>
        <dd id="dd-board-board">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Endianness</dt>
        <dd id="dd-board-endianness">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Tree</dt>
        <dd id="dd-board-tree">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Kernel</dt>
        <dd id="dd-board-kernel">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Defconfig</dt>
        <dd id="dd-board-defconfig">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
    </dl>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <dl class="dl-horizontal" id="dl-left">
        <dt>Status</dt>
        <dd id="dd-board-status">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>            
        <dt>Warnings</dt>
        <dd id="dd-board-warnings">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Boot time</dt>
        <dd id="dd-board-boot-time">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
        <dt>Boot log</dt>
        <dd id="dd-board-boot-log">
            <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
        </dd>
    </dl>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <dl class="dl-horizontal" id="dl-right-other">
            <dt>Dtb</dt>
            <dd id="dd-board-dtb">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Dtb address</dt>
            <dd id="dd-board-dtb-address">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Load address</dt>
            <dd id="dd-board-load-address">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Initrd address</dt>
            <dd id="dd-board-initrd-address">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Kernel image</dt>
            <dd id="dd-board-kernel-image">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
        </dl>
    </div>
</div>
<div id="dyn-content">
</div>
<input type="hidden" id="file-server" value="{{ config['FILE_SERVER_URL'] }}">
<input type="hidden" id="board-id" value="{{ board }}">
<input type="hidden" id="job-id" value="{{ job }}">
<input type="hidden" id="kernel-id" value="{{ kernel }}">
<input type="hidden" id="defconfig-id" value="{{ defconfig }}">
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/js/linaro-jslib-1.0.1.min.js"></script>
<script type="text/javascript" src="/static/js/linaro-boot-1.0.3.js"></script>
{%- endblock %}
