{% extends 'base.html' %} {%- block meta -%}
<meta name="csrf-token" content="{{ csrf_token_r() }}"> {%- endblock %} {%- block title %}{{ page_title|safe }}{%- endblock %} {%- block head %} {{ super() }} {%- endblock %} {%- block content %}
<div class="row">
    <div class="page-header">
        <h3>{{ body_title|safe }}</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>Tree</dt>
            <dd class="loading-content" id="tree">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git branch</dt>
            <dd class="loading-content" id="git-branch">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git describe</dt>
            <dd class="loading-content" id="git-describe">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git URL</dt>
            <dd class="loading-content" id="git-url">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git commit</dt>
            <dd class="loading-content" id="git-commit">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
        </dl>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div id="builds-chart" class="chart-div pull-center">
            <div id="builds-chart-heading">
                <table id="builds-chart-legend" class="pie-chart">
                    <tbody>
                        <tr>
                            <td id="success-cell" onclick="showHideDefconfs(this)">0</td>
                            <td>&nbsp;/&nbsp;</td>
                            <td id="fail-cell" onclick="showHideDefconfs(this)">0</td>
                            <td>&nbsp;/&nbsp;</td>
                            <td id="unknown-cell" onclick="showHideDefconfs(this)">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="page-header">
        <h3>Defconfigs Built</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn-group">
            <button id="all-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled>All</button>
            <button id="success-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled>Successful</button>
            <button id="fail-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled>Failed</button>
            <button id="unknown-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled>Unknown</button>
        </div>
        <div class="dropdown warn-err-dropdown">
            <button id="warn-err-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Show
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right warn-err-menu" role="menu" aria-labelledby="warn-err-btn">
                <li role="presentation"><a class="unselectable" onclick="showHideWarnErr(this)" data-view="all">All</a></li>
                <li role="presentation"><a class="unselectable" onclick="showHideWarnErr(this)" data-view="warnings">Builds with warnings and no errors</a></li>
                <li role="presentation"><a class="unselectable" onclick="showHideWarnErr(this)" data-view="errors">Builds with errors and no warnings</a></li>
                <li role="presentation"><a class="unselectable" onclick="showHideWarnErr(this)" data-view="warnings-errors">Builds with warnings and errors</a></li>
                <li role="presentation"><a class="unselectable" onclick="showHideWarnErr(this)" data-view="no-warnings-no-errors">Builds with no warnings and no errors</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="accordion-container">
            <div class="panel-group" id="accordion">
                <div class="pull-center">
                    <i class="fa fa-cog fa-spin fa-2x"></i>&nbsp;loading&hellip;
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="job-name" value="{{ job }}">
<input type="hidden" id="kernel-name" value="{{ kernel }}">
<input type="hidden" id="file-server" value="{{ config['FILE_SERVER_URL'] }}">
{# Beware the single quotes on this variable! #}
<input type="hidden" id="url-translation" value='{{ config["KNOWN_GIT_URLS"]|tojson|safe }}'>
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
<script type="text/javascript" src="/static/js/linaro-webstorage-1.0.1.js"></script>
<script type="text/javascript" src="/static/js/linaro-builds-job-kernel-1.0.12.js"></script>
{%- endblock %}
