{% extends "base.html" %}
{%- block meta -%}
<meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3>{{ body_title|safe }}</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>Tree</dt>
            <dd class="loading-content" id="tree">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git branch</dt>
            <dd class="loading-content" id="git-branch">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git describe</dt>
            <dd class="loading-content" id="git-describe">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git URL</dt>
            <dd class="loading-content" id="git-url">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git commit</dt>
            <dd class="loading-content" id="git-commit">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Date</dt>
            <dd class="loading-content" id="build-date">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
        </dl>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div id="pie-chart" class="chart-div pull-center">
            <div id="pie-chart-heading">
                <table id="pie-chart-legend" class="pie-chart">
                    <tbody>
                        <tr>
                            <td id="success-cell" class="click-btn">0</td>
                            <td>&nbsp;/&nbsp;</td>
                            <td id="fail-cell" class="click-btn">0</td>
                            <td>&nbsp;/&nbsp;</td>
                            <td id="unknown-cell" class="click-btn">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="build-chart"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="page-header">
        <h3>Defconfigs Built</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="btn-group">
            <button id="all-btn" type="button" class="btn btn-default click-btn" disabled>All</button>
            <button id="success-btn" type="button" class="btn btn-default click-btn" disabled>Successful</button>
            <button id="fail-btn" type="button" class="btn btn-default click-btn" disabled>Failed</button>
            <button id="unknown-btn" type="button" class="btn btn-default click-btn" disabled>Unknown</button>
        </div>
        <div class="dropdown warn-err-dropdown">
            <button id="warn-err-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" disabled>Show
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right warn-err-menu" role="menu" aria-labelledby="warn-err-btn">
                <li role="presentation"><a class="unselectable warn-err-btn" data-view="all">All</a></li>
                <li role="presentation"><a class="unselectable warn-err-btn" data-view="warnings">Builds with warnings and no errors</a></li>
                <li role="presentation"><a class="unselectable warn-err-btn" data-view="errors">Builds with errors and no warnings</a></li>
                <li role="presentation"><a class="unselectable warn-err-btn" data-view="warnings-errors">Builds with warnings and errors</a></li>
                <li role="presentation"><a class="unselectable warn-err-btn" data-view="no-warnings-no-errors">Builds with no warnings and no errors</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="accordion-container">
            <div class="panel-group" id="accordion">
                <div class="pull-center">
                    <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="job-name" value="{{ job }}">
<input type="hidden" id="kernel-name" value="{{ kernel }}">
<input type="hidden" id="file-server" value="{{ config['FILE_SERVER_URL'] }}">
{%- endblock %}
{%- block scripts %}
{# URI does not work very well with require.js, load it here. #}
<script type="text/javascript" src="/static/js/lib/URI-1.16.0.min.js"></script>
<script data-main="/static/js/kci-builds-job-kernel" src="/static/js/lib/require.js"></script>
{%- endblock %}
