{% extends 'base.html' %} {%- block meta -%}
<meta name="csrf-token" content="{{ csrf_token_r() }}"> {%- endblock %} {%- block title %}{{ page_title|safe }}{%- endblock %} {%- block content %}
<div class="row">
    <div class="page-header">
        <h3>{{ body_title|safe }}&nbsp;<small>({{ result.defconfig }})</small></h3>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>Tree</dt>
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Details for&nbsp; {{ job }}">
                <a href="/job/{{ job }}">
                    {{ job }}
                </a>
                </span> &nbsp;&mdash;&nbsp;
                <span rel="tooltip" data-toggle="tooltip" title="Boot reports details for&nbsp; {{ job }}">
                <a href="/boot/all/job/{{ job }}/">
                    <i class="fa fa-hdd-o"></i>
                </a>
                </span>
            </dd>
            <dt>Git branch</dt>
            {%- if result.git_branch %}
            <dd>
                {{ result.git_branch }}
            </dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
            <dt>Git describe</dt>
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Details for build&nbsp;{{ job }}&nbsp;&dash;&nbsp;{{ kernel }}">
                <a href="/build/{{ job }}/kernel/{{ kernel }}">
                    {{ kernel }}
                </a>
                </span> &nbsp;&mdash;&nbsp;
                <span rel="tooltip" data-toggle="tooltip" title="All boot reports for&nbsp;{{ job }}&nbsp;&dash;&nbsp;{{ kernel }}">
                <a href="/boot/all/job/{{ job }}/kernel/{{ kernel }}">
                    <i class="fa fa-hdd-o"></i>
                </a>
                </span>
            </dd>
            <dt>Git URL</dt>
            {%- if result.git_url and base_url %}
            <dd>
                <a href="{{ base_url }}">
                {{ result.git_url }}
                <i class="fa fa-external-link"></i>
                </a>
            </dd>
            {%- elif result.git_url %}
            <dd>{{ result.git_url }}</dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
            <dt>Git commit</dt>
            {%- if result.git_commit and commit_url %}
            <dd>
                <a href="{{ commit_url }}">
                    {{ result.git_commit }}
                    <i class="fa fa-external-link"></i>
                </a>
            </dd>
            {%- elif result.git_commit %}
            <dd>{{ result.git_commit }}</dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
            <dt>Cross-compile</dt>
            {%- if metadata and metadata.cross_compile %}
            <dd>
                {{ metadata.cross_compile }}
            </dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
            <dt>Compiler</dt>
            {%- if metadata and metadata.compiler_version %}
            <dd>
                {{ metadata.compiler_version }}
            </dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
        </dl>
    </div>

    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <dl class="dl-horizontal">
            <dt>Status</dt>
            {%- if result.status %} {%- if result.status == 'PASS' %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Build completed">
                        <span class="label label-success">
                        <i class="fa fa-check"></i>
                        </span>
                </span>
            </dd>
            {%- elif result.status == 'FAIL' %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Build failed">
                        <span class="label label-danger">
                        <i class="fa fa-exclamation-triangle"></i>
                        </span>
                </span>
            </dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Unknown status">
                        <span class="label label-warning">
                        <i class="fa fa-question"></i>
                        </span>
                </span>
            </dd>
            {%- endif %} {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
            <dt>Architecture</dt>
            {%- if result.arch %}
            <dd>{{ result.arch }}</dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
            <dt>Build errors</dt>
            <dd>{{ result.errors }}</dd>
            <dt>Build warnings</dt>
            <dd>{{ result.warnings }}</dd>
            <dt>Build time</dt>
            {%- if result.build_time %}
            <dd>{{ result.build_time }} sec.</dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
        </dl>
    </div>

    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>Dtb directory</dt>
            {%- if result.dtb_dir %}
            <dd>
                <a href="{{ config['FILE_SERVER_URL'] }}/{{ job }}/{{ result.kernel }}/{{ result.arch }}-{{ result.defconfig_full }}/{{ result.dtb_dir }}/">
                {{ result.dtb_dir }}
                &nbsp;<i class="fa fa-external-link"></i>
                </a>
            </dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
            <dt>Modules</dt>
            {%- if result.modules %}
            <dd>
                <a href="{{ config['FILE_SERVER_URL']
 }}/{{ job }}/{{ result.kernel }}/{{ result.arch }}-{{ result.defconfig_full }}/{{ result.modules }}">
                {{ result.modules }}
                &nbsp;<i class="fa fa-external-link"></i>
                </a>
            </dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %} {%- if result.modules_dir %}
            <dt>Modules directory</dt>
            <dd>
                <a href="{{ config['FILE_SERVER_URL'] }}/{{ job }}/{{ result.kernel }}/{{ result.arch }}-{{ result.defconfig_full }}/{{ result.modules_dir }}/">
                {{ result.modules_dir }}
                &nbsp;<i class="fa fa-external-link"></i>
                </a>
            </dd>
            {%- endif %}
            <dt>Text offset</dt>
            {%- if result.text_offset %}
            <dd>{{ result.text_offset }}</dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
            <dt>Config fragments</dt>
            {%- if result.kconfig_fragments %} {%- if result.kconfig_fragments|length > 80 -%}
            <dd>
                {{ result.kconfig_fragments[:50] }}&nbsp;&hellip;
            </dd>
            {%- else -%}
            <dd>{{ result.kconfig_fragments }}</dd>
            {%- endif -%} {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
        </dl>
    </div>

    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <dl class="dl-horizontal">
            <dt>Kernel image</dt>
            {%- if result.kernel_image %}
            <dd>
                <a href="{{ config['FILE_SERVER_URL'] }}/{{ job }}/{{ result.kernel }}/{{ result.arch }}-{{ result.defconfig_full }}/{{ result.kernel_image }}">
                {{ result.kernel_image }}
                &nbsp;<i class="fa fa-external-link"></i>
                </a>
            </dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
            <dt>Kernel config</dt>
            {%- if result.kernel_config %}
            <dd>
                <a href="{{ config['FILE_SERVER_URL'] }}/{{ job }}/{{ result.kernel }}/{{ result.arch }}-{{ result.defconfig_full }}/{{ result.kernel_config }}">
                {{ result.kernel_config }}
                &nbsp;<i class="fa fa-external-link"></i>
                </a>
            </dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
            <dt>Build log</dt>
            {%- if result.build_log %}
            <dd>
                <a href="{{ config['FILE_SERVER_URL'] }}/{{ job }}/{{ result.kernel }}/{{ result.arch }}-{{ result.defconfig_full }}/{{ result.build_log }}">
                {{ result.build_log }}
                &nbsp;<i class="fa fa-external-link"></i>
                </a>
            </dd>
            {%- else %}
            <dd>
                <span rel="tooltip" data-toggle="tooltip" title="Not available">
                    <i class="fa fa-ban"></i>
                </span>
            </dd>
            {%- endif %}
        </dl>
    </div>
</div>

<div class="row">
    <div class="page-header">
        <h4>Boot Reports</h4>
    </div>
    <div id="boot-report">
        <div class="pull-center">
            <i class="fa fa-cog fa-spin fa-2x"></i>&nbsp;searching boot reports&hellip;
        </div>
    </div>
</div>

<div class="row">
    <div class="page-header">
        <h4>Build Platform</h4>
    </div>
    {%- if result.build_platform %}
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>System</dt>
            <dd>{{ result.build_platform[0] }}</dd>
            <dt>Node name</dt>
            <dd>{{ result.build_platform[1] }}</dd>
            <dt>Release</dt>
            <dd>{{ result.build_platform[2] }}</dd>
            <dt>Full release</dt>
            <dd>{{ result.build_platform[3] }}</dd>
        </dl>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <dl class="dl-horizontal">
            <dt>Machine type</dt>
            <dd>{{ result.build_platform[4] }}</dd>
            <dt>CPU</dt>
            <dd>{{ result.build_platform[5] }}</dd>
        </dl>
    </div>
    {%- else %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pull-center">
            <h5><strong>No data available.</strong></h5>
        </div>
    </div>
    {%- endif %}
</div>
<input type="hidden" id="job" value="{{ job }}">
<input type="hidden" id="kernel" value="{{ kernel }}">
<input type="hidden" id="defconfig" value="{{ result.defconfig }}">
<input type="hidden" id="defconfig-full-name" value="{{ result.defconfig_full }}">
<input type="hidden" id="dirname" value="{{ result.dirname }}">
<input type="hidden" id="defconfig-id" value="{{ defconfig_id }}"> {%- endblock %} {%- block scripts %} {{ super() }}
<script type="text/javascript" src="/static/js/linaro-builds-job-kernel-defconfig-1.0.2.js"></script>
{%- endblock %}
