{% extends "base.html" %}
{%- block meta -%}
<meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3 id="body-title">Build logs for&nbsp;</h3>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>Tree</dt>
            <dd class="loading-content" id="tree">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git branch</dt>
            <dd class="loading-content" id="git-branch">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git describe</dt>
            <dd class="loading-content" id="git-describe">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Defconfig</dt>
            <dd class="loading-content" id="build-defconfig">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git URL</dt>
            <dd class="loading-content" id="git-url">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git commit</dt>
            <dd class="loading-content" id="git-commit">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Date</dt>
            <dd class="loading-content" id="build-date">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <dl class="dl-horizontal">
            <dt>Status</dt>
            <dd class="loading-content" id="build-status">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Architecture</dt>
            <dd class="loading-content" id="build-arch">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Build time</dt>
            <dd class="loading-content" id="build-time">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>Build errors</dt>
            <dd class="logs-loading-content" id="build-errors">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Build warnings</dt>
            <dd class="logs-loading-content" id="build-warnings">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Mismatched sections</dt>
            <dd class="logs-loading-content" id="build-mismatches">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="page-header">
        <h4>Logs</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <dl class="dl-horizontal">
            <dt>Full build log</dt>
            <dd class="loading-content" id="build-log">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
    <div id="build-logs-loading" class="pull-center">
        <small>
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading build logs&hellip;
        </small>
    </div>
    <div id="build-logs"></div>
</div>
<input type="hidden" id="file-server" value="{{ config['FILE_SERVER_URL'] }}">
<input type="hidden" id="build-id" value="{{ build_id }}">
{%- endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-builds-job-kernel-defconfig-logs" src="/static/js/lib/require.js"></script>
{%- endblock %}
