{% extends 'base.html' %} {%- block meta -%}
<meta name="csrf-token" content="{{ csrf_token_r() }}"> {%- endblock %} {%- block title %}{{ page_title|safe }}{%- endblock %} {%- block content %}
<div class="row">
    <div class="page-header">
        <h3 id="details">{{ body_title|safe }}</h3>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>Tree</dt>
            <dd class="loading-content" id="tree">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git branch</dt>
            <dd class="loading-content" id="git-branch">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git describe</dt>
            <dd class="loading-content" id="git-describe">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git URL</dt>
            <dd class="loading-content" id="git-url">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Git commit</dt>
            <dd class="loading-content" id="git-commit">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Cross-compile</dt>
            <dd class="loading-content" id="build-cross-compile">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Compiler</dt>
            <dd class="loading-content" id="build-compiler">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
        </dl>
    </div>

    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <dl class="dl-horizontal">
            <dt>Status</dt>
            <dd class="loading-content" id="build-status">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Architecture</dt>
            <dd class="loading-content" id="build-arch">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Build errors</dt>
            <dd class="loading-content" id="build-errors">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Build warnings</dt>
            <dd class="loading-content" id="build-warnings">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Build time</dt>
            <dd class="loading-content" id="build-time">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
        </dl>
    </div>

    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>Dtb directory</dt>
            <dd class="loading-content" id="dtb-dir">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Modules</dt>
            <dd class="loading-content" id="build-modules">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Modules directory</dt>
            <dd class="loading-content" id="modules-directory">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Text offset</dt>
            <dd class="loading-content" id="text-offset">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Config fragments</dt>
            <dd class="loading-content" id="config-fragments">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
        </dl>
    </div>

    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <dl class="dl-horizontal">
            <dt>Kernel image</dt>
            <dd class="loading-content" id="kernel-image">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Kernel config</dt>
            <dd class="loading-content" id="kernel-config">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
            <dt>Build log</dt>
            <dd class="loading-content" id="build-log">
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </dd>
        </dl>
    </div>
</div>
<div class="row hidden" id="bisect-div">
    <div class="page-header">
        <h4 id="bisect">Build Bisect</h4>
    </div>
    {%- include "other-bisect-content.html" %}
</div>
<div class="row">
    <div class="page-header">
        <h4 id="boot-reports">Boot Reports</h4>
    </div>
    <div id="boot-report">
        <div class="pull-center">
            <i class="fa fa-cog fa-spin fa-2x"></i>&nbsp;searching boot reports&hellip;
        </div>
    </div>
</div>
<div class="row">
    <div class="page-header">
        <h4 id="platform">Build Platform</h4>
    </div>
    <div id="build-platform">
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <dl class="dl-horizontal">
                <dt>System</dt>
                <dd class="loading-content" id="platform-system">
                    <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
                </dd>
                <dt>Node name</dt>
                <dd class="loading-content" id="platform-node">
                    <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
                </dd>
                <dt>Release</dt>
                <dd class="loading-content" id="platform-release">
                    <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
                </dd>
                <dt>Full release</dt>
                <dd class="loading-content" id="platform-full-release">
                    <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
                </dd>
            </dl>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <dl class="dl-horizontal">
                <dt>Machine type</dt>
                <dd class="loading-content" id="platform-machine">
                    <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
                </dd>
                <dt>CPU</dt>
                <dd class="loading-content" id="platform-cpu">
                    <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
                </dd>
            </dl>
        </div>
    </div>

</div>
<input type="hidden" id="file-server" value="{{ config['FILE_SERVER_URL'] }}">
<input type="hidden" id="job-name" value="{{ job_name }}">
<input type="hidden" id="kernel-name" value="{{ kernel_name }}">
<input type="hidden" id="defconfig-full" value="{{ defconfig_full }}">
<input type="hidden" id="defconfig-id" value="{{ defconfig_id }}">
{# Beware the single quotes on this variable! #}
<input type="hidden" id="url-translation" value='{{ url_translation|tojson|safe }}'>
{%- endblock %} {%- block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/js/linaro-builds-job-kernel-defconfig-1.0.6.js"></script>
{%- endblock %}
