{%- extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block head %}
{{ super() }}
<style type="text/css">
    label.radio-description {
        padding-left: 0.5em;
    }
    .input-group-addon {
        max-width: 80px;
        min-width: 80px;
        text-align: left;
    }
    .comparison-choice {
        padding-left: 0.7em;
    }
    .form-submit {
        margin-bottom: 1em;
        margin-top: 1em;
    }
    div.choice-wrapper {
        width: 100%;
        overflow: hidden;
    }
    .choice-group > div:not(:last-child) {
        padding-bottom: 0.5em;
    }
    div.choice-group {
        float: left;
        width: 95%;
    }
    div.choice-group-number {
        float: left;
        font-size: smaller;
        overflow: hidden;
        padding-right: 0.2em;
        text-align: center;
        vertical-align: middle;
        width: 5%;
    }
    div.choice-group-number.job {
        padding-top: 2em;
    }
    div.choice-group-number.build {
        padding-top: 6em;
    }
    div.choice-group > div.choice-wrapper:last-child > div.input-choice {
        padding-bottom: 0.25em;
    }
    div.input-choice {
        float: left;
        padding-top: 0.25em;
        width: 70%;
    }
    div.input-notify {
        font-size: small;
        overflow: hidden;
        padding-left: 0.5em;
        padding-top: 0.65em;
        text-overflow: ellipsis;
        width: 25%;
    }
    div.choice-buttons {
        float: left;
        margin-left: 0.5em;
        padding-top: 0.7em;
        width: 70%;
    }
    div.wrapper {
        width: 100%;
        overflow: hidden;
    }
    div.comparison-choice-container > div {
        width: 100%;
    }
    /* All but the first. */
    div.comparison-choice-container > div ~ div {
        display: inline-block;
        padding-top: 1.25em;
    }
    div.comparison-group {
        padding-left: 0.5em;
    }
    label {
        font-weight: normal;
    }
    input.invalid {
        border-color: red;
        box-shadow: 0 0 0.25em red;
    }
</style>
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3>Compare Jobs, Builds and Boots <small>(beta)</small></h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 1em;">
        <p>
            This feature is in <strong>beta</strong>: its functions and appearances can change in the future. Expect it to be unstable.
            <br>
            <br>
            At the moment only the job comparison type is supported: the other comparison types are in development.
        </p>
    </div>
</div>
<div class="row">
    <div id="compare-div" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
</div>
{%- endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-compare" src="/static/js/lib/require.js"></script>
{%- endblock %}
