{% extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block content %}
<div class="row">
    <div class="page-header">
        <h4>Contact us</h4>
    </div>
    <p>
        Before contacting us, please take a look at the <a title="Frequently asked questions" href="/faq/">Frequently Asked Questions</a> page.
        <br />
        If you can't find the answer to your question or for additional information not covered in that page, please write an email to:
        <address>
            <a title="Kernel CI info email address" href="mailto:{{ info_email }}">{{ info_email }}</a>
        </address>
    </p>
</div>
{% endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-info-faq" src="/static/js/lib/require.js"></script>
{%- endblock %}
