{% extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block content %}
<div class="row">
    <div class="page-header">
        <h4>Frequently Asked Questions</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ol>
            <li>
                <a href="#what-is"
                    title="What's kernelci.org?">
                    What's kernelci.org?
                </a>
            </li>
            <li>
                <a href="#more-info"
                    title="Where can I find more info about kernelci.org?">
                    Where can I find more info about kernelci.org?
                </a>
            </li>
            <li>
                <a href="#the-code"
                    title="Where can I find the code that kernelci.org is built on?">
                    Where can I find the code that kernelci.org is built on?
                </a>
            </li>
            <li>
                <a href="#the-license"
                    title="What is the license used for kernelci.org?">
                    What is the license used for kernelci.org?
                </a>
            </li>
            <li>
                <a href="#a-job"
                    title="What's a job?">What's a job?
                </a>
            </li>
            <li>
                <a href="#build-test"
                    title="How can I partecipate in the build test phase?">
                    How can I participate in the build test phase?
                </a>
            </li>
            <li>
                <a href="#boot-test"
                    title="How can I partecipate in the boot test phase?">
                    How can I participate in the boot test phase?
                </a>
            </li>
            <li>
                <a href="#my-board"
                    title="I would like to have my board boot tested, how can I do it?">
                    I would like to have my board boot tested, how can I do it?
                </a>
            </li>
            <li>
                <a href="#send-hw"
                    title="Can I send you my boards?">
                    Can I send you my boards?
                </a>
            </li>
            <li>
                <a href="#contact"
                    title="How can I contact you?">
                    How can I contact you?
                </a>
            </li>
        </ol>
        <hr />
        <div class="faq">
            <dl>
                <dt id="what-is">What's kernelci.org?</dt>
                <dd>
                    kernelci.org, this website, is a build and boot automation tool for <a title="kernel.org website" href="https://www.kernel.org/">upstream Linux kernel trees</a>.
                </dd>
                <dt id="more-info">Where can I find more info about kernelci.org?</dt>
                <dd>
                    For more information about kernelci.org and its architecture,
                    please see <a href="https://github.com/kernelci/kernelci-doc/wiki">the KernelCI wiki</a>.
                </dd>
                <dt id="the-code">Where can I find the code that kernelci.org is built on?</dt>
                <dd>
                    The code powering kernelci.org can be found on <em>GitHub</em>: <a title="GitHub" href="https://github.com/kernelci/">github.com/kernelci/</a>.
                    <br />
                    There are two main components:
                    <ol>
                        <li>
                            <a title="Kernel CI website source code" href="https://github.com/kernelci/kernelci-frontend/">This website</a>
                        </li>
                        <li>
                            <a title="Kernel CI API source code" href="https://github.com/kernelci/kernelci-backend/">
                            The Kernel CI API
                            </a>
                        </li>
                    </ol>
                </dd>
                <dt id="the-license">
                    What is the license used for kernelci.org?
                </dt>
                <dd>
                    <strong>kernelci.org</strong>, this website and its API, is
                    licensed under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL v3.0</a>.
                    <br/>
                    <strong>kernelci.org</strong> relies also on 3-rd party libraries
                    that are licensed under their own terms.
                </dd>
                <dt id="a-job">What's a job?</dt>
                <dd>
                    A job is a collection of build and boot data for a given Linux kernel tree/branch.
                </dd>
                <dt id="build-test">How can I participate in the build test phase?</dt>
                <dd>
                    If you would like to participate in the build test phase,
                    please <a title="Contact us" href="mailto:{{ info_email }}">contact us</a>.
                </dd>
                <dt id="boot-test">How can I participate in the boot test phase?</dt>
                <dd>
                    If you would like to boot test your own board, please see the <a href="#my-board" title="I would like to have my board boot tested, how can I do it?">my board</a>
                    section for board requirements. Or, if you would like to help boot test already supported boards 
                    please <a title="Contact us" href="mailto:{{ info_email }}">contact us</a> for more information.
                </dd>
                <dt id="my-board">I would like to have my board boot tested, how can I do it?</dt>
                <dd>
                    Because the system is in alpha, the best way to participate
                    is to first check your board meets the requirements below. If so,
                    send us your boards, supporting documentation and hardware
                    and we will enable upstream kernel testing on them.
                    <p>
                    Main requirements for devices to be boot tested by kernelci.org:<br/>
                    <ul>
                        <li>Must be able to boot a current build and defconfig from a mainline/upstream Linux tree, to a shell prompt. No vendor kernels or out-of-tree patchsets.</li>
                        <li>Have a contact/maintainer who will react to boot failures. We do not want to waste effort adding boards that will never get fixed, and then have to remove them.</li>
                        <li>Ideally, be supported by <a href="https://validation.linaro.org/static/docs/v2/index.html#what-is-lava" title="What is LAVA?">LAVA v2</a> for ease of integration.</li>
                    </ul>
                    </p>
                    For more info, please <a title="Contact us" href="mailto:{{ info_email }}">contact us</a>.
                </dd>
                <dt id="send-hw">Can I send you my boards?</dt>
                <dd>
                    Please see the <a href="#my-board" title="I would like to have my board boot tested, how can I do it?">my board</a> section for board requirements, and then please
                    <a title="Contact us" href="mailto:{{ info_email }}">contact us</a> for more information.
                </dd>
                <dt id="contact">How can I contact you?</dt>
                <dd>
                    If you can't find an answer to your questions in this page, please <a title="Contact us" href="mailto:{{ info_email }}">contact us</a>.
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-info-faq" src="/static/js/lib/require.js"></script>
{%- endblock %}
