{% extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
<style type="text/css">
    h3 {
        font-size: 2em;
    }
    div.lf-banner {
        align: center;
        text-align: center;
        padding: 12px;
        border: solid #cccccc 1px;
        font-size: 2.1em;
    }
    img#logo {
        height: 62px;
        padding: 0 6px 0 0;
    }
    div.welcome-text {
        margin-top: 1em;
        text-align: justify;
    }
    span.selection-label {
        font-size: large;
    }
    div.welcome-choice {
        margin-top: 1em;
    }
    .welcome-choice > .list-unstyled > li {
        padding-bottom: 0.5em;
    }
    img#member-logo {
        height: 80px;
        padding: 0 10px 0 0;
    }
</style>
{%- endblock %}
{%- block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="pull-center" style="margin-top: 1em;">
            <h3>Staging KernelCI Dashboard</h3>
        </div>
        <div class="welcome-text">
          <p>
            Welcome to the staging KernelCI web dashboard.  This is the
            development instance of <a href="https://linux.kernelci.org"
            target="_blank">linux.kernelci.org</a> where changes are being
            integrated together and verified.
          </p>
          <p>
            Kernel revisions on this instance are for the most part created
            artificially in order to generate jobs in a controlled fashion.
            All the open pull requests from the following GitHub projects are
            merged together on staging branches and deployed here automatically
            every 8 hours:
            <ul>
              <li><a href="https://github.com/kernelci/kernelci-core" target="_blank"><span style="font-family: mono">kernelci-core</span></a></li>
              <li><a href="https://github.com/kernelci/kernelci-frontend" target="_blank"><span style="font-family: mono">kernelci-frontend</span></a></li>
              <li><a href="https://github.com/kernelci/kernelci-backend" target="_blank"><span style="font-family: mono">kernelci-backend</span></a></li>
              <li><a href="https://github.com/kernelci/kernelci-jenkins" target="_blank"><span style="font-family: mono">kernelci-jenkins</span></a></li>
              <li><a href="https://github.com/kernelci/kernelci-project" target="_blank"><span style="font-family: mono">kernelci-project</span></a></li>
              <li><a href="https://github.com/kernelci/test-definitions" target="_blank"><span style="font-family: mono">test-definitions</span></a></li>
            </ul>
          </p>
          <p>
            A staging instance of
            the <a href="https://kernelci.org">kernelci.org</a> static website
            is hosted
            on <a href="https://static.staging.kernelci.org/">static.staging.kernelci.org</a>.
          </p>
          <p>
            See
            the <a href="https://kernelci.org/docs/workflow/staging/">staging
            documentation</a> to learn more about how this works and how to
            take part in KernelCI development.
          </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="welcome-choice">
            <ul class="list-unstyled">
                <li>
                    <a class="btn btn-default" href="/job/" role="button">
                        <i class="fa fa-sitemap fa-lg"></i>
                    </a>
                    &nbsp;
                    <span class="selection-label">
                        View kernel branches and their latest build and test results
                    </span>
                </li>
                <li>
                    <a class="btn btn-default" href="/build/" role="button">
                        <i class="fa fa-cube fa-lg"></i>
                    </a>
                    &nbsp;
                    <span class="selection-label">
                        View latest kernel build results
                    </span>
                </li>
                <li>
                    <a class="btn btn-default" href="/test/" role="button">
                        <i class="fa fa-stethoscope fa-lg"></i>
                    </a>
                    &nbsp;
                    <span class="selection-label">
                        View latest test results
                    </span>
                </li>
                <li>
                    <a class="btn btn-default" href="/soc/" role="button">
                        <i class="fa fa-server fa-lg"></i>
                    </a>
                    &nbsp;
                    <span class="selection-label">
                        View results per SoC or hardware family
                    </span>
                </li>
                <li>
                    <a class="btn btn-default" href="https://kcidb.kernelci.org/d/home/home?orgId=1&var-origin=kernelci&var-git_repository_url=All&var-dataset=kernelci04&fullscreen&panelId=4&from=now-14d&to=now" target="_blank" role="button">
                        <i class="fa fa-line-chart fa-lg"></i>
                    </a>
                    &nbsp;
                    <span class="selection-label">
                        View statistics about all the data
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
{%- endblock %}{# content block #}
{%- block scripts %}
<script data-main="/static/js/kci-index" src="/static/js/lib/require.js"></script>
{%- endblock %}
