{% extends 'base.html' %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css">
{%- endblock %}
{%- block content %}
{% include 'date_range.html' %}
<div class="row">
    <div class="col-lg-12">
        <h3>Failed Builds</h3>
        <table id="failed-builds" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Tree &dash; Branch</th>
                    <th>Kernel</th>
                    <th>Date</th>
                </tr>
            <thead>
            <tbody id="failed-builds-body"></tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                    <span rel="tooltip" data-toggle="tooltip" title="View all available builds">
                        <small><a href="/build">All builds</a></small>
                    </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Failed Jobs</h3>
        <table id="failed-jobs" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Tree &dash; Branch</th>
                    <th>Kernel</th>
                    <th>Date</th>
                </tr>
            <thead>
            <tbody id="failed-jobs-body"></tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                    <span rel="tooltip" data-toggle="tooltip" title="View all available jobs">
                    <small><a href="/job">All jobs</a></small>
                    </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Failed Boot Reports</h3>
        <table id="failed-boots" class="table table-striped tabled-condensed">
            <thead>
                <tr>
                    <th>Tree</th>
                    <th>Kernel</th>
                    <th>Board</th>
                    <th>Defconfig</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="failed-boots-body"></tbody>
        </table>
    </div>
</div>
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/js/kernelci.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#li-home').addClass("active");
    $('body').tooltip({
        'selector': '[rel=tooltip]',
        'placement': 'auto',
    });

    $.ajax({
        'url': '/_ajax/defconf',
        'type': 'GET',
        'traditional': true,
        'context': $('#failed-builds-body'),
        'data': {
            'limit': 5,
            'status': 'FAILED',
            'sort': 'created',
            'date_range': 15,
            'field': ['job', 'kernel', 'metadata', 'created'],
        },
    }).done(function(data) {
        var defconfs = data['result'];
        var row, job, created, col1, col2, col3, col4;

        $(this).empty();

        if (defconfs.length == 0) {
            row = '<tr><td colspan="3" align="center" valign="middle"><h4>' +
                'No failed builds.</h4></td></tr>';
            $(this).append(row);
        } else {
            for (var i = 0; i < defconfs.length; i++) {
                job = defconfs[i]['job'];
                created = new Date(defconfs[i]['created']);
                col1 = '<td>' +
                    '<span rel="tooltip" data-toggle="tooltip" title="Details for job&nbsp;' + job + '">' +
                    '<a href="/job/' + job + '">' + job + '&nbsp;&dash;&nbsp;<small>' + defconfs[i]['metadata']['git_branch'] + '</small>' +'</a></span></td>';
                col2 = '<td>' +
                    '<span rel="tooltip" data-toggle="tooltip" title="Details for&nbsp;' + job + '&nbsp;&dash;&nbsp;' + defconfs[i]['kernel'] + '"><a href="/job/' + job + '/kernel/' + defconfs[i]['kernel'] + '">' +
                    defconfs[i]['kernel'] + '</a></td>';
                col3 = '<td>' + created.getCustomISODate() + '</td>';
                col4 = '<td>' +
                    '<span rel="tooltip"',
                row = '<tr>' + col1 + col2 + col3 + '</tr>';

                $(this).append(row);
            };
        };
    });

    $.ajax({
        'url': '/_ajax/job',
        'type': 'GET',
        'traditional': true,
        'context': $('#failed-jobs-body'),
        'data': {
            'limit': 5,
            'status': 'FAILED',
            'sort': 'created',
            'date_range': 15,
            'field': ['job', 'kernel', 'created', 'metadata'],
        },
    }).done(function(data) {
        var jobs = data['result'];
        var row, created, col1, col2, col3;

        $(this).empty();

        if (jobs.length == 0) {
            row = '<tr><td colspan="3" align="center" valign="middle"><h4>' +
                'No failed jobs.</h4></td></tr>';
            $(this).append(row);
        } else {
            for (var i = 0; i < jobs.length; i++) {
                created = new Date(jobs[i]['created']);
                col1 = '<td>' + jobs[i]['job'] + '&nbsp;&dash;&nbsp;<small>' + jobs[i]['metadata']['git_branch'] + '</small>' +'</td>';
                col2 = '<td>' + jobs[i]['kernel'] + '</td>';
                col3 = '<td>' + created.getCustomISODate() + '</td>';
                row = '<tr>' + col1 + col2 + col3 + '</tr>';

                $(this).append(row);
            };
        };
    });

    $.ajax({
        'url': '/_ajax/boot',
        'type': 'GET',
        'traditional': true,
        'context': $('#failed-boots-body'),
        'data': {
            'limit': 15,
            'status': 'FAIL',
            'sort': 'created',
            'field': ['board', 'job', 'kernel', 'defconfig', 'created'],
        }
    }).done(function(data) {
        var boots = data['result'];
        var row, created, col1, col2, col3, col4, col5;

        $(this).empty();

        if (boots.length == 0) {
            row = '<tr><td colspan="5" align="center" valign="middle"><h4>' +
                'No failed boot reports.</h4></td></tr>';
            $(this).append(row);
        } else {
            for (var i = 0; i < boots.length; i++) {
                created = new Date(boots[i]['created']);
                col1 = '<td>' + boots[i]['job'] + '</td>';
                col2 = '<td>' + boots[i]['kernel'] + '</td>';
                col3 = '<td>' + boots[i]['board'] + '</td>';
                col4 = '<td>' + boots[i]['defconfig'] + '</td>';
                col5 = '<td>' + created.getCustomISODate() + '</td>';
                row = '<tr>' + col1 + col2 + col3 + col4 + col5 + '</tr>';

                $(this).append(row);
            };
        };
    });
});
</script>
{%- endblock %}
