{% extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
<style type="text/css">
    h1 {
        font-size: 3em;
        text-align: center;
    }
    h3 {
        font-size: 2em;
    }
    div.lf-banner {
        align: center;
        height: 88px;
        text-align: center;
        padding: 12px;
        border: solid #cccccc 1px;
        font-size: 2.1em;
    }
    img#logo {
        height: 100%;
        padding: 0 12px 0 0;
    }
    div.welcome-title {
        margin-bottom: 1em;
    }
    div.welcome-text {
        margin-top: 1em;
        text-align: justify;
    }
    span.selection-label {
        font-size: large;
    }
    div.welcome-choice {
        margin-top: 1em;
    }
    .welcome-choice > .list-unstyled > li {
        padding-bottom: 0.5em;
    }
</style>
{%- endblock %}
{%- block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="lf-banner">
            <img src="/static/img/kernelci-horizontal-color.svg" id="logo" />
            is now a
            <a href="https://foundation.kernelci.org" target="_blank">
                Linux Foundation project
            </a>
        </div>
        <div class="welcome-title">
            <h1>
                Welcome to kernelci.org!
            </h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-center">
        <img src="/static/img/kci-welcome-640.jpg"
             id="welcome-image"
             alt="Welcome to KernelCi"
             sizes="(min-width: 960px) 960px, 70vw"
             srcset="/static/img/kci-welcome-1024.jpg 1024w,
                     /static/img/kci-welcome-960.jpg 960w,
                     /static/img/kci-welcome-640.jpg 640w,
                     /static/img/kci-welcome-320.jpg 320w,
                     /static/img/kci-welcome-160.jpg 160w">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pull-center" style="margin-top: 1em;">
            <h3>Automated Linux Kernel Testing</h3>
            <h4>&#8230;made easy!</h4>
        </div>
        <div class="welcome-text">
            <p>
                kernelci.org is a community based, <a href="https://github.com/kernelci/" title="kernelci.org github page">open source</a> distributed test automation system focused on <a href="https://www.kernel.org/" title="Linux Kernel Archives">upstream Linux kernel</a> development.
                <br/>
                Our goal is to unify all upstream Linux kernel testing efforts in order to provide a single place where to store, view, compare and track these results.
            </p>
            <p>
                It is our mission to detect, bisect, report and fix regressions on upstream Kernel trees before they even reach &#171;mainline&#187;.
            </p>
            <p>
            For information on how to get your board into kernelci, or get involved with the project, please see the <a title="Frequently Asked Questions" href="/faq/">FAQ</a>.
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="welcome-choice">
            <ul class="list-unstyled">
                <li>
                    <a class="btn btn-default" href="/job/" role="button">
                        <i class="fa fa-sitemap fa-lg"></i>
                    </a>
                    &nbsp;
                    <span class="selection-label">
                        View trees being built and their latest results
                    </span>
                </li>
                <li>
                    <a class="btn btn-default" href="/build/" role="button">
                        <i class="fa fa-cube fa-lg"></i>
                    </a>
                    &nbsp;
                    <span class="selection-label">
                        View latest builds being performed
                    </span>
                </li>
                <li>
                    <a class="btn btn-default" href="/boot/" role="button">
                        <i class="fa fa-hdd-o fa-lg"></i>
                    </a>
                    &nbsp;
                    <span class="selection-label">
                        View latest boot reports
                    </span>
                </li>
                <li>
                    <a class="btn btn-default" href="/soc/" role="button">
                        <i class="fa fa-server fa-lg"></i>
                    </a>
                    &nbsp;
                    <span class="selection-label">
                        View SoCs being tested
                    </span>
                </li>
                <li>
                    <a class="btn btn-default" href="/test/" role="button">
                        <i class="fa fa-stethoscope fa-lg"></i>
                    </a>
                    &nbsp;
                    <span class="selection-label">
                        View latest test reports
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
{%- endblock %}{# content block #}
{%- block scripts %}
<script data-main="/static/js/kci-index" src="/static/js/lib/require.js"></script>
{%- endblock %}
