{% extends 'base.html' %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/datatables.min.css">
    <style type="text/css">
        .panel-heading {
            cursor: pointer;
        }

        #builds-chart-legend td {
            text-align: center;
            width: 25px;
            border-bottom: 3px solid;
        }

        #builds-chart-legend td:nth-child(even) {
            border: none;
        }
    </style>
{%- endblock %}
{%- block content %}
<div class="row">
    <h4>{{ body_title|safe }}</h4>
</div>
<div class="row">
    <div class="col-lg-7">
    <dl class="dl-horizontal">
        <dt>Tree</dt>
        <dd>
            <span rel="tooltip" data-toggle="tooltip" title="Details for&nbsp; {{ job_doc.result.job}}"> 
            <a href="/job/{{ job_doc.result.job }}">
                {{ job_doc.result.job }}
                <i class="fa fa-search"></i>
            </a>
            </span>
        </dd>
        <dt>Git branch</dt>
        <dd>{{ job_doc.result.metadata.git_branch }}</dd>
        <dt>Git describe</dt>
        <dd>{{ job_doc.result.metadata.git_describe }}</dd>
        <dt>Git URL</dt>
        {% if base_url %}
        <dd>
            <a href="{{ base_url }}">
            {{ job_doc.result.metadata.git_url }}
            <i class="fa fa-external-link"></i>
            </a>
        </dd>
        {% else %}
        <dd>{{ job_doc.result.metadata.git_url }}</dd>
        {% endif %}
        <dt>Git commit</dt>
        {% if commit_url %}
        <dd>
            <a href="{{ commit_url }}">
                {{ job_doc.result.metadata.git_commit }}
                <i class="fa fa-external-link"></i>
            </a>
        </dd>
        {% else %}
        <dd>{{ job_doc.result.metadata.git_commit }}</dd>
        {% endif %}
        <dt>Cross-compile</dt>
        {%- if job_doc.result.metadata.cross_compile %}
        <dd>{{ job_doc.result.metadata.cross_compile }}</dd>
        {%- else %}
        <dd>N/A</dd>
        {%- endif %}
        <dt>Compiler</dt>
        {%- if job_doc.result.metadata.compiler_version %}
        <dd>{{ job_doc.result.metadata.compiler_version }}</dd>
        {%- else %}
        <dd>N/A</dd>
        {%- endif %}
    </dl>
    </div>
    <div class="col-lg-5">
        <div id="builds-chart" align="center">
            <div id="builds-chart-heading">
            <table id="builds-chart-legend">
                <tbody>
                <tr>
                    <td id="success-cell">0</td>
                    <td>&nbsp;/&nbsp;</td>
                    <td id="fail-cell">0</td>
                    <td>&nbsp;/&nbsp;</td>
                    <td id="unknown-cell">0</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
<h4>Defconfigs Built</h4>
<div class="col-lg-12">
<p>
    <div class="btn-group">
        <button id="all-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">All</button>
        <button id="success-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">Success</button>
        <button id="fail-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">Failed</button>
        <button id="unknown-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">Unknown</button>
    </div>
</p>
</div>
<div class="col-lg-12">
    <div class="panel-group" id="accordion"></div>
</div>
</div>
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
<script type="text/javascript">
function showHideDefconfs(element) {
    switch (element.id) {
        case 'success-btn':
            $('.df-failed').hide();
            $('.df-success').show();
            $('.df-unknonw').hide();
            break;
        case 'fail-btn':
            $('.df-failed').show();
            $('.df-success').hide();
            $('.df-unknonw').hide();
            break;
        case 'unknown-btn':
            $('.df-failed').hide();
            $('.df-success').hide();
            $('.df-unknonw').show();
            break;
        default:
            $('.df-failed').show();
            $('.df-success').show();
            $('.df-unknonw').show();
            break;
    };
};

$(document).ready(function() {
    $('body').tooltip({
        'selector': '[rel=tooltip]',
        'placement': 'auto top',
    });

    $('#li-job').addClass("active");

    $('.btn-group > .btn').click(function() {
        $(this).addClass('active').siblings().removeClass('active');
    });

    $.ajax({
        'url': '/_ajax/defconf',
        'type': 'GET',
        'traditional': true,
        'data': {
            'job_id': '{{ job_doc.result._id }}',
            'field': 'status',
            'nfield': '_id',
        },
    }).done(function(data) {
        data = data['result'];

        var success = 0,
            fail = 0,
            unknown = 0;

        for (var i = 0; i < data.length; i++) {
            switch (data[i]['status']) {
                case 'FAIL':
                    fail++;
                    break;
                case 'PASS':
                    success++;
                    break;
                default:
                    unknown++;
                    break
            };
        };

        var dataset = [success, fail, unknown],
            width = 200,
            height = 200,
            radius = Math.min(width, height) / 2;

        // success, fail and unknown status colors.
        var color = ['#148514', '#A61919', '#A66619'],
            pie = d3.layout.pie().sort(null),
            arc = d3.svg.arc().innerRadius(radius - 30).outerRadius(radius - 50);

        var svg = d3.select("#builds-chart").append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        var path = svg.selectAll("path")
            .data(pie(dataset))
            .enter().append("path")
            .attr("fill", function(d, i) {
                return color[i];
            })
            .attr("d", arc);

        $('#success-cell')
            .empty()
            .append(
                '<span rel="tooltip" data-toggle="tooltip" title="Successful">' +
                success +
                '</span>')
            .css('border-bottom-color', color[0]);
        $('#fail-cell')
            .empty()
            .append(
                '<span rel="tooltip" data-toggle="tooltip" title="Failed">' +
                fail +
                '</span>')
            .css('border-bottom-color', color[1]);
        $('#unknown-cell')
            .empty()
            .append(
                '<span rel="tooltip" data-toggle="tooltip" title="Unknown">' +
                unknown +
                '</span>')
            .css('border-bottom-color', color[2]);
    });

    $.ajax({
        'url': '/_ajax/defconf',
        'type': 'GET',
        'traditional': true,
        'context': $('#accordion'),
        'data': {
            'job_id': '{{ job_doc.result._id }}',
            'sort': '_id',
            'sort_order': 1,
        },
    }).done(function(data) {
        data = data['result'];

        var file_server = '{{ config['FILE_SERVER_URL'] }}';
        var panel,
            cls,
            data_url,
            defconfig,
            metadata,
            label;

        $('#all-btn').removeAttr('disabled');
        $('#all-btn').addClass('active');

        for (var i = 0; i < data.length; i++) {
            metadata = data[i]['metadata'];
            data_url = file_server + data[i]['job'] + '/' + data[i]['kernel'] +
                '/' + data[i]['dirname'] + '/';

            switch (data[i]['status']) {
                case 'FAIL':
                    label = '<span class="pull-right label label-danger"><li class="fa fa-exclamation-triangle"></li></span>';
                    cls = 'df-failed';
                    $('#fail-btn').removeAttr('disabled');
                    break;
                case 'PASS':
                    label = '<span class="pull-right label label-success"><li class="fa fa-check"></li></span>';
                    cls = 'df-success';
                    $('#success-btn').removeAttr('disabled');
                    break;
                default:
                    label = '<span class="pull-right label label-warning"><li class="fa fa-question"></li></span>';
                    cls = 'df-unknown';
                    $('#unknown-btn').removeAttr('disabled');
                    break;
            };

            defconfig = data[i]['defconfig'];
            if (metadata['kconfig_fragments'] != null) {
                defconfig = data[i]['defconfig'] + '&nbsp;<small>' +
                    metadata['kconfig_fragments'] + '</small>'
            };

            panel = '<div class="panel panel-default ' + cls + '">' +
                '<div class="panel-heading" data-toggle="collapse" data-parent="accordion" data-target="#defconf' + i + '">' +
                '<h4 class="panel-title">' +
                '<a data-toggle="collapse" data-parent="#accordion" href="#defconf' + i + '">' +
                defconfig +
                '</a>' + label + '</h4></div>' +
                '<div id="defconf' + i + '" class="panel-collapse collapse">' +
                '<div class="panel-body">';

            panel += '<dl class="dl-horizontal">';

            if ($.isEmptyObject(metadata)) {
                panel += "<strong>No data to show.</strong>"
            } else {
                if (metadata['dtb_dir'] != null) {
                    panel += '<dt>DTB directory</dt>' +
                        '<dd><a href="' +
                        data_url + metadata['dtb_dir'] + '/' + '">' +
                        metadata['dtb_dir'] +
                        '</a></dd>';
                };
                if (metadata['modules_dir'] != null) {
                    panel += '<dt>Modules directory</dt>' +
                        '<dd><a href="' +
                        data_url + metadata['modules_dir'] + '/' + '">' +
                        metadata['modules_dir'] +
                        '</a></dd>';
                };
                if (metadata['text_offset'] != null) {
                    panel += '<dt>Text offset</dt>' +
                        '<dd>' + metadata['text_offset'] + '</dd>';
                };
                if (metadata['kernel_image'] != null) {
                    panel += '<dt>Kernel image</dt>' +
                        '<dd><a href="' +
                        data_url + metadata['kernel_image'] + '">' +
                        metadata['kernel_image'] +
                        '</a></dd>';
                };
                if (metadata['kernel_config'] != null ) {
                    panel += '<dt>Kernel config</dt>' +
                        '<dd><a href="' +
                        data_url + metadata['kernel_config'] + '">' +
                        metadata['kernel_config'] +
                        '</a></dd>';
                };
                if (metadata['build_log'] != null) {
                    console.log(metadata['build_log']);
                    panel += '<dt>Build log</dt>' +
                        '<dd><a href="' +
                        data_url + metadata['build_log'] + '">' +
                        metadata['build_log'] +
                        '</a></dd>';
                };
            };
            panel += '</dl>';
            panel += '</div></div></div>';

            $(this).append(panel);
        };
    });

});
</script>
{%- endblock %}