{% extends 'base.html' %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
    <style type="text/css">
        .panel-heading {
            cursor: pointer;
        }

        #success-cell, #fail-cell, #unknown-cell {
            cursor: pointer;
        }

        #builds-chart-legend td {
            text-align: center;
            width: 25px;
            border-bottom: 3px solid;
        }

        #builds-chart-legend td:nth-child(even) {
            border: none;
        }
    </style>
{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3>{{ body_title|safe }}</h3>
    </div>
    <div class="col-lg-7">
    <dl class="dl-horizontal">
        <dt>Tree</dt>
        <dd>
            <span rel="tooltip" data-toggle="tooltip" title="Details for&nbsp; {{ job }}"> 
            <a href="/job/{{ job }}">
                {{ job }}
                <i class="fa fa-search"></i>
            </a>
            </span>
        </dd>
        <dt>Git branch</dt>
        <dd>
            {{ metadata.git_branch }}
        </dd>
        <dt>Git describe</dt>
        <dd>
            {{ metadata.git_describe }}
        </dd>
        <dt>Git URL</dt>
        {% if base_url %}
        <dd>
            <a href="{{ base_url }}">
            {{ metadata.git_url }}
            <i class="fa fa-external-link"></i>
            </a>
        </dd>
        {% else %}
        <dd>{{ metadata.git_url }}</dd>
        {% endif %}
        <dt>Git commit</dt>
        {% if commit_url %}
        <dd>
            <a href="{{ commit_url }}">
                {{ metadata.git_commit }}
                <i class="fa fa-external-link"></i>
            </a>
        </dd>
        {% else %}
        <dd>{{ metadata.git_commit }}</dd>
        {% endif %}
        <dt>Cross-compile</dt>
        {%- if metadata.cross_compile %}
        <dd>
            {{ metadata.cross_compile }}
        </dd>
        {%- else %}
        <dd>
            <span rel="tooltip" data-toggle="tooltip" title="Not available">
                <i class="fa fa-ban"></i>
            </span>
        </dd>
        {%- endif %}
        <dt>Compiler</dt>
        {%- if metadata.compiler_version %}
        <dd>
            {{ metadata.compiler_version }}
        </dd>
        {%- else %}
        <dd>
            <span rel="tooltip" data-toggle="tooltip" title="Not available">
                <i class="fa fa-ban"></i>
            </span>
        </dd>
        {%- endif %}
    </dl>
    </div>
    <div class="col-lg-5">
        <div id="builds-chart" align="center">
            <div id="builds-chart-heading">
            <table id="builds-chart-legend">
                <tbody>
                <tr>
                    <td id="success-cell" onclick="showHideDefconfs(this)">0</td>
                    <td>&nbsp;/&nbsp;</td>
                    <td id="fail-cell" onclick="showHideDefconfs(this)">0</td>
                    <td>&nbsp;/&nbsp;</td>
                    <td id="unknown-cell" onclick="showHideDefconfs(this)">0</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="page-header">
    <h3>Defconfigs Built</h3>
</div>
<div class="col-lg-12">
<p>
    <div class="btn-group">
        <button id="all-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">All</button>
        <button id="success-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">Successful</button>
        <button id="fail-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">Failed</button>
        <button id="unknown-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">Unknown</button>
    </div>
</p>
</div>
<div class="col-lg-12">
    <div id="accordion-container">
        <div class="panel-group" id="accordion">
            <i class="fa fa-cog fa-spin fa-2x"></i>&nbsp;loading&hellip;
        </div>
    </div>
</div>
</div>
<input type="hidden" id="job-id" value="{{ job_id }}">
<input type="hidden" id="file-server" value="{{ config['FILE_SERVER_URL'] }}">
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
<script type="text/javascript" src="/static/js/linaro-webstorage-1.0.min.js"></script>
<script type="text/javascript" src="/static/js/linaro-jslib-1.0.min.js"></script>
<script type="text/javascript" src="/static/js/linaro-job-kernel-1.0.js"></script>
{%- endblock %}
