{% extends 'base.html' %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
    <style type="text/css">
        .panel-heading {
            cursor: pointer;
        }

        #success-cell, #fail-cell, #unknown-cell {
            cursor: pointer;
        }

        #builds-chart-legend td {
            text-align: center;
            width: 25px;
            border-bottom: 3px solid;
        }

        #builds-chart-legend td:nth-child(even) {
            border: none;
        }
    </style>
{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3>{{ body_title|safe }}</h3>
    </div>
    <div class="col-lg-7">
    <dl class="dl-horizontal">
        <dt>Tree</dt>
        <dd>
            <span rel="tooltip" data-toggle="tooltip" title="Details for&nbsp; {{ job }}"> 
            <a href="/job/{{ job }}">
                {{ job }}
                <i class="fa fa-search"></i>
            </a>
            </span>
        </dd>
        <dt>Git branch</dt>
        <dd>
            {{ metadata.git_branch }}
        </dd>
        <dt>Git describe</dt>
        <dd>
            {{ metadata.git_describe }}
        </dd>
        <dt>Git URL</dt>
        {% if base_url %}
        <dd>
            <a href="{{ base_url }}">
            {{ metadata.git_url }}
            <i class="fa fa-external-link"></i>
            </a>
        </dd>
        {% else %}
        <dd>{{ metadata.git_url }}</dd>
        {% endif %}
        <dt>Git commit</dt>
        {% if commit_url %}
        <dd>
            <a href="{{ commit_url }}">
                {{ metadata.git_commit }}
                <i class="fa fa-external-link"></i>
            </a>
        </dd>
        {% else %}
        <dd>{{ metadata.git_commit }}</dd>
        {% endif %}
        <dt>Cross-compile</dt>
        {%- if metadata.cross_compile %}
        <dd>
            {{ metadata.cross_compile }}
        </dd>
        {%- else %}
        <dd>N/A</dd>
        {%- endif %}
        <dt>Compiler</dt>
        {%- if metadata.compiler_version %}
        <dd>
            {{ metadata.compiler_version }}
        </dd>
        {%- else %}
        <dd>N/A</dd>
        {%- endif %}
    </dl>
    </div>
    <div class="col-lg-5">
        <div id="builds-chart" align="center">
            <div id="builds-chart-heading">
            <table id="builds-chart-legend">
                <tbody>
                <tr>
                    <td id="success-cell" onclick="showHideDefconfs(this)">0</td>
                    <td>&nbsp;/&nbsp;</td>
                    <td id="fail-cell" onclick="showHideDefconfs(this)">0</td>
                    <td>&nbsp;/&nbsp;</td>
                    <td id="unknown-cell" onclick="showHideDefconfs(this)">0</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="page-header">
    <h3>Defconfigs Built</h3>
</div>
<div class="col-lg-12">
<p>
    <div class="btn-group">
        <button id="all-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">All</button>
        <button id="success-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">Success</button>
        <button id="fail-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">Failed</button>
        <button id="unknown-btn" onclick="showHideDefconfs(this)" type="button" class="btn btn-default" disabled="disable">Unknown</button>
    </div>
</p>
</div>
<div class="col-lg-12">
    <div class="panel-group" id="accordion"></div>
</div>
</div>
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js"></script>
<script type="text/javascript" src="/static/js/linaro-webstorage-1.0.min.js"></script>
<script type="text/javascript" src="/static/js/linaro-jslib-1.0.min.js"></script>
<script type="text/javascript">
function showHideDefconfs(element) {
    switch (element.id) {
        case 'success-cell':
            if ($('#success-btn').attr('disabled') !== 'disabled') {
                $('.df-failed').hide();
                $('.df-success').show();
                $('.df-unknown').hide();
                $('#success-btn').addClass('active').siblings().removeClass('active');
            }
            break;
        case 'success-btn':
            $('.df-failed').hide();
            $('.df-success').show();
            $('.df-unknown').hide();
            break;
        case 'fail-cell':
            if ($('#fail-btn').attr('disabled') !== 'disabled') {
                $('.df-failed').show();
                $('.df-success').hide();
                $('.df-unknown').hide();
                $('#fail-btn').addClass('active').siblings().removeClass('active');
            }
            break;
        case 'fail-btn':
            $('.df-failed').show();
            $('.df-success').hide();
            $('.df-unknown').hide();
            break;
        case 'unknown-cell':
            if ($('#unknown-btn').attr('disabled') !== 'disabled') {
                $('.df-failed').hide();
                $('.df-success').hide();
                $('.df-unknown').show();
                $('#unknown-btn').addClass('active').siblings().removeClass('active');
            }
            break;
        case 'unknown-btn':
            $('.df-failed').hide();
            $('.df-success').hide();
            $('.df-unknown').show();
            break;
        default:
            $('.df-failed').show();
            $('.df-success').show();
            $('.df-unknown').show();
            break;
    }
}

$(document).ready(function() {
    $('body').tooltip({
        'selector': '[rel=tooltip]',
        'placement': 'auto top'
    });

    $('#li-job').addClass('active');

    $('.btn-group > .btn').click(function() {
        $(this).addClass('active').siblings().removeClass('active');
    });

    $.ajax({
        'url': '/_ajax/defconf',
        'traditional': true,
        'dataType': 'json',
        'data': {
            'job_id': '{{ job_id }}',
            'field': 'status',
            'nfield': '_id'
        },
        'dataFilter': function(data, type) {
            if (type == 'json') {
                return $.parseJSON(data).result;
            } else {
                return data;
            }
        }
    }).done(function(data) {
        var success = 0,
            fail = 0,
            unknown = 0;

        for (var i = 0; i < data.length; i++) {
            switch (data[i]['status']) {
                case 'FAIL':
                    fail++;
                    break;
                case 'PASS':
                    success++;
                    break;
                default:
                    unknown++;
                    break;
            }
        }

        var dataset = [success, fail, unknown],
            width = 200,
            height = 200,
            radius = Math.min(width, height) / 2;

        // success, fail and unknown status colors.
        var color = ['#5cb85c', '#d9534f', '#f0ad4e'],
            pie = d3.layout.pie().sort(null),
            arc = d3.svg.arc().innerRadius(radius - 30).outerRadius(radius - 50);

        var svg = d3.select('#builds-chart').append('svg')
            .attr('width', width)
            .attr('height', height)
            .append('g')
            .attr('transform', 'translate(' + width / 2 + ',' +
                    height / 2 + ')'
            );

        var path = svg.selectAll('path')
            .data(pie(dataset))
            .enter().append('path')
            .attr('fill', function(d, i) {
                return color[i];
            })
            .attr('d', arc);

        $('#success-cell')
            .empty()
            .append(
                '<span rel="tooltip" data-toggle="tooltip" ' +
                'title="Successful defconfigs built">' + success + '</span>'
            ).css('border-bottom-color', color[0]);
        $('#fail-cell')
            .empty()
            .append(
                '<span rel="tooltip" data-toggle="tooltip" ' +
                'title="Failed defconfigs built">' + fail + '</span>'
            ).css('border-bottom-color', color[1]);
        $('#unknown-cell')
            .empty()
            .append(
                '<span rel="tooltip" data-toggle="tooltip" ' +
                'title="Unknown status">' + unknown + '</span>'
            ).css('border-bottom-color', color[2]);
    });

    $.ajax({
        'url': '/_ajax/defconf',
        'traditional': true,
        'dataType': 'json',
        'context': $('#accordion'),
        'data': {
            'job_id': '{{ job_id }}',
            'sort': '_id',
            'sort_order': 1
        },
        'dataFilter': function(data, type) {
            if (type == 'json') {
                return $.parseJSON(data).result;
            } else {
                return data;
            }
        }
    }).done(function(data) {
        var file_server = '{{ config['FILE_SERVER_URL'] }}',
            panel = '',
            cls,
            data_url,
            defconfig,
            metadata,
            label,
            i = 0,
            len = data.length;

        for (i; i < len; i++) {
            metadata = data[i].metadata;
            data_url = file_server + data[i].job + '/' + data[i].kernel +
                '/' + data[i].dirname + '/';

            switch (data[i].status) {
                case 'FAIL':
                    label = '<span class="pull-right label label-danger"><li class="fa fa-exclamation-triangle"></li></span>';
                    cls = 'df-failed';
                    $('#fail-btn').removeAttr('disabled');
                    break;
                case 'PASS':
                    label = '<span class="pull-right label label-success"><li class="fa fa-check"></li></span>';
                    cls = 'df-success';
                    $('#success-btn').removeAttr('disabled');
                    break;
                default:
                    label = '<span class="pull-right label label-warning"><li class="fa fa-question"></li></span>';
                    cls = 'df-unknown';
                    $('#unknown-btn').removeAttr('disabled');
                    break;
            }

            defconfig = data[i].defconfig;
            if (!$.isEmptyObject(metadata) &&
                    metadata.hasOwnProperty('kconfig_fragments') &&
                    metadata.kconfig_fragments !== null) {
                defconfig = data[i].defconfig + '&nbsp;<small>' +
                    metadata.kconfig_fragments + '</small>';
            }

            panel += '<div class="panel panel-default ' + cls + '">' +
                '<div class="panel-heading" data-toggle="collapse" ' +
                    'id="panel-defconf' + i + '"' +
                    'data-parent="accordion" data-target="#collapse-defconf' +
                    i + '">' +
                    '<h4 class="panel-title">' +
                    '<a data-toggle="collapse" data-parent="#accordion" href="#collapse-defconf' + i + '">' +
                    defconfig +
                    '</a>' + label + '</h4></div>' +
                    '<div id="collapse-defconf' + i + '" class="panel-collapse collapse">' +
                    '<div class="panel-body">';

            panel += '<div class="row">';
            panel += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">';
            panel += '<dl class="dl-horizontal">';

            if ($.isEmptyObject(metadata)) {
                panel += '<strong>No data to show.</strong>';
            } else {
                if (metadata.hasOwnProperty('dtb_dir') &&
                        metadata.dtb_dir !== null) {
                    panel += '<dt>Dtb directory</dt>' +
                        '<dd><a href="' +
                            data_url + metadata.dtb_dir + '/' + '">' +
                            metadata.dtb_dir +
                            '&nbsp;<i class="fa fa-external-link">' +
                            '</i></a></dd>';
                }

                if (metadata.hasOwnProperty('modules_dir') &&
                        metadata.modules_dir !== null) {
                    panel += '<dt>Modules directory</dt>' +
                        '<dd><a href="' +
                            data_url + metadata.modules_dir + '/' + '">' +
                            metadata.modules_dir +
                            '&nbsp;<i class="fa fa-external-link">' +
                            '</i></a></dd>';
                }

                if (metadata.hasOwnProperty('text_offset') &&
                        metadata.text_offset !== null) {
                    panel += '<dt>Text offset</dt>' +
                        '<dd>' + metadata.text_offset + '</dd>';
                }

                if (metadata.hasOwnProperty('kernel_image') &&
                        metadata.kernel_image !== null) {
                    panel += '<dt>Kernel image</dt>' +
                        '<dd><a href="' +
                            data_url + metadata.kernel_image + '">' +
                            metadata.kernel_image +
                            '&nbsp;<i class="fa fa-external-link">' +
                            '</i></a></dd>';
                }

                if (metadata.hasOwnProperty('kernel_config') &&
                        metadata.kernel_config !== null) {
                    panel += '<dt>Kernel config</dt>' +
                        '<dd><a href="' +
                            data_url + metadata.kernel_config + '">' +
                            metadata.kernel_config +
                            '&nbsp;<i class="fa fa-external-link">' +
                            '</i></a></dd>';
                }

                if (metadata.hasOwnProperty('build_log') &&
                        metadata.build_log !== null) {
                    panel += '<dt>Build log</dt>' +
                        '<dd><a href="' +
                            data_url + metadata.build_log + '">' +
                            metadata.build_log +
                            '&nbsp;<i class="fa fa-external-link">' +
                            '</i></a></dd>';
                }
            }

            panel += '</dl></div>';

            if (!$.isEmptyObject(metadata)) {
                panel += '<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">';
                panel += '<dl class="dl-horizontal">';

                if (metadata.hasOwnProperty('build_erros') &&
                        metadata.build_erros !== null) {
                    panel += '<dt>Build errors</dt>';
                    panel += '<dd>' + metadata.build_errors + '</dd>';
                }

                if (metadata.hasOwnProperty('build_warnings') &&
                        metadata.build_warnings !== null) {
                    panel += '<dt>Build warnings</dt>';
                    panel += '<dd>' + metadata.build_warnings + '</dd>';
                }

                if (metadata.hasOwnProperty('build_time') &&
                        metadata.build_time !== null) {
                    panel += '<dt>Build time</dt>';
                    panel += '<dd>' + metadata.build_time + '&nbsp;sec.</dd>';
                }

                panel += '</dl></div>';
            }

            panel += '</div>';
            panel += '</div></div></div>\n';
        }
        $(this).append(panel);

        $('#all-btn').removeAttr('disabled');
        if (!loadFromSessionStorage('{{ job_id }}')) {
            $('#all-btn').addClass('active');
        }
    });

    var session_state = new SessionState('{{ job_id }}');
    onbeforeunload = function() {

        var panel_state = {},
            page_state;

        $('[id^="panel-defconf"]').each(function(id) {
            panel_state['#panel-defconf' + id] = {
                'type': 'class',
                'name': 'class',
                'value': $('#panel-defconf' + id).attr('class')
            };
        });

        $('[id^="collapse-defconf"]').each(function(id) {
            panel_state['#collapse-defconf' + id] = {
                'type': 'class',
                'name': 'class',
                'value': $('#collapse-defconf' + id).attr('class')
            };
        });

        page_state = {
            '.df-success': {
                'type': 'attr',
                'name': 'style',
                'value': $('.df-success').attr('style')
            },
            '.df-failed': {
                'type': 'attr',
                'name': 'style',
                'value': $('.df-failed').attr('style')
            },
            '.df-unknown': {
                'type': 'attr',
                'name': 'style',
                'value': $('.df-unknown').attr('style')
            },
            '#all-btn': {
                'type': 'class',
                'name': 'class',
                'value': $('#all-btn').attr('class')
            },
            '#success-btn': {
                'type': 'class',
                'name': 'class',
                'value': $('#success-btn').attr('class')
            },
            '#fail-btn': {
                'type': 'class',
                'name': 'class',
                'value': $('#fail-btn').attr('class')
            },
            '#unknown-btn': {
                'type': 'class',
                'name': 'class',
                'value': $('#unknown-btn').attr('class')
            }
        };

        session_state.objects = CollectObjects(panel_state, page_state);
        saveToSessionStorage(session_state);
    };
});
</script>
{%- endblock %}
