{%- extends 'base.html' %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
    <h2>{{ page_title|safe }}</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <ul class="list-group">
        <li class="list-group-item">
            Total builds
            <span class="badge">
                <span id="builds-count" class="count-list-badge">
                    <i class="fa fa-cog fa-spin"></i>
                </span>
            </span>
        </li>
        <li class="list-group-item">
            Total defconfig
            <span class="badge">
                <span id="defconfs-count" class="count-list-badge">
                    <i class="fa fa-cog fa-spin"></i>
                </span>
            </span>
        </li>
    </ul>
    </div>
</div>
<div class="row">
    <div class="page-header">
        <h3>Available Builds</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed clickable-table" id="jobstable">
                <thead>
                    <tr>
                        <th>Kernel</th>
                        <th>Branch</th>
                        <th>Commit</th>
                        <th class="pull-center">Failed</th>
                        <th class="pull-center">Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="builds-body">
                    <tr>
                        <td colspan="6" align="center" valign="middle">
                            <i class="fa fa-cog fa-spin fa-2x"></i>&nbsp;loading&hellip;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="job-id" value="{{ job }}">
{%- endblock %}
{%- block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/js/linaro-jobs-job-1.0.8.js"></script>
{%- endblock %}
