<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="boot-reports-loading-div" class="pull-center">
        <small>
            <i class="fa fa-cog fa-spin"></i>&nbsp;searching for matching boot reports&hellip;
        </small>
    </div>
    <div id="boot-reports-matched">
    {%- if is_mobile %}
        <div class="table-responsive" id="other-reports-table-div">
    {%- else %}
        <div class="table" id="other-reports-table-div">
    {%- endif %}
            <table class="table table-striped table-condensed table-hover clickable-table hidden" id="multiple-labs-table" title="Exact match boot reports">
                <caption>Exact Match</caption>
                <thead>
                    <tr>
                        <th class="lab-column">Lab Name</th>
                        <th class="failure-column">Failure Reason</th>
                        <th class="pull-center">Boot Log</th>
                        <th class="date-column pull-center">Date</th>
                        <th class="pull-center">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="boot-reports-table-body"></tbody>
            </table>
        </div>
    </div>
    <div id="boot-reports-compared-to">
        <div id="boot-reports-compared-to-load" class="pull-center"></div>
    {%- if is_mobile %}
        <div class="table-responsive" id="compare-to-mainline-div">
    {%- else %}
        <div class="table" id="compare-to-mainline-div">
    {%- endif %}
            <table class="table table-striped table-condensed table-hover clickable-table hidden" id="compare-to-mainline-table" title="Similar boot reports for &#171;mainline&#187;">
                <caption>Compared to &#171;mainline&#187;</caption>
                <thead>
                    <tr>
                        <th class="lab-column">Lab Name</th>
                        <th class="failure-column">Failure Reason</th>
                        <th class="pull-center">Boot Log</th>
                        <th class="date-column pull-center">Date</th>
                        <th class="pull-center">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="compare-to-mainline-table-body"></tbody>
            </table>
        </div>
    {%- if is_mobile %}
        <div class="table-responsive" id="compare-to-next-div">
    {%- else %}
        <div class="table" id="compare-to-next-div">
    {%- endif %}
            <table class="table table-striped table-condensed table-hover clickable-table hidden" id="compare-to-next-table" title="Similar boot reports for &#171;next&#187;">
                <caption>Compared to &#171;next&#187;</caption>
                <thead>
                    <tr>
                        <th class="lab-column">Lab Name</th>
                        <th class="failure-column">Failure Reason</th>
                        <th class="pull-center">Boot Log</th>
                        <th class="date-column pull-center">Date</th>
                        <th class="pull-center">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="compare-to-next-table-body"></tbody>
            </table>
        </div>
    </div>
</div>
