<div class="bisect-content col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="bisect-compare-loading-div" class="pull-center">
        <i class="fa fa-cog fa-spin fa-2x"></i>&nbsp;
        <span id="bisect-compare-loading-content">retrieving bisect data compared with mainline&hellip;</span>
    </div>
    <div id="bisect-compare-content" class="hidden">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Bisect comparison summary</h3>
          </div>
          <div class="panel-body" id="bisect-compare-summary">
            <div id="bisect-compare-description"></div>
            <dl class="dl-horizontal hidden" id="dl-bisect-compare-script">
                <dt>Bisect script</dt>
                <dd>
                    <span id="bisect-compare-script"></span>
                    <span class="bisect-compare-desc">
                        <small>
                            (The script is made with values from the previous
                            bisect and this one)
                        </small>
                    </span>
                </dd>
            </dl>
          </div>
        </div>
    {%- if is_mobile %}
        <div class="table-responsive" id="table-compare-div">
    {%- else %}
        <div class="table" id="table-compare-div">
    {%- endif %}
            <table id="bisect-compare-table" class="bisect-table table">
                <thead>
                    <tr>
                        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Bad</th>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Unknown</th>
                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Good</th>
                    </tr>
                </thead>
                <tbody id="bisect-compare-table-body"></tbody>
            </table>
        </div>
    </div>
</div>
