<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="cases-reports-div">
    {%- if is_mobile %}
        <div class="table-responsive" id="cases-reports-table-div">
    {%- else %}
        <div class="table" id="cases-reports-table-div">
    {%- endif %}
            <table class="table table-striped table-condensed table-hover clickable-table hidden" id="multiple-cases-table" title="Cases not belonging to any test set">
                <thead>
                    <tr>
                        <th class="name-column">Test Case Name</th>
                        <th class="measurement-column">Measurement</th>
                        <th class="date-column pull-center">Date</th>
                        <th class="pull-center">Status</th>
                        <th class="pull-center">Log</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="cases-reports-table-body"></tbody>
            </table>
        </div>
    </div>
</div>
