{% extends "base.html" %}
{%- block meta -%}
<meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
<style type="text/css">
    .conflicts-table > thead {
        font-weight: bold;
    }
    input[type="checkbox"] {
        display: block;
        margin: 0 auto;
    }
</style>
{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3 id="details">{{ body_title|safe }}</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>SoC</dt>
            <dd class="loading-content" id="soc">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Tree</dt>
            <dd class="loading-content" id="tree">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git branch</dt>
            <dd class="loading-content" id="git-branch">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git describe</dt>
            <dd class="loading-content" id="git-describe">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git URL</dt>
            <dd class="loading-content" id="git-url">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git commit</dt>
            <dd class="loading-content" id="git-commit">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Date</dt>
            <dd class="loading-content" id="job-date">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div id="pie-chart" class="chart-div pull-center">
            <div id="test-chart"></div>
        </div>
    </div>
</div>
<div class="row">   
    <div class="page-header">
        <h3>Available Test Plans</h3>
    </div>
    <div id="table-loading" class="pull-center">
        <small>
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            &nbsp;retrieving test data&hellip;
        </small>
    </div>
{%- if is_mobile %}
    <div class="table-responsive" id="table-div">
{%- else %}
    <div class="table" id="table-div">
{%- endif %}
        <table class="table table-hover table-striped table-condensed clickable-table big-table" id="planstable">
        </table>
        </div>
</div>
<input type="hidden" id="job-name" value="{{ job }}">
<input type="hidden" id="kernel-name" value="{{ kernel }}">
<input type="hidden" id="soc-name" value="{{ soc }}">
<input type="hidden" id="search-filter" value="{{ search_filter }}">
<input type="hidden" id="file-server" value="{{ config['FILE_SERVER_URL'] }}">
{%- endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-socs-soc-job-kernel" src="/static/js/lib/require.js"></script>
{%- endblock %}
