{%- extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/kci-graphs-2015.9.1.css">
{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3>Statistics</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <p>
            Since <strong><span class="loading-stats" id="start-date"><small><i class="fa fa-cog fa-spin"></i></small></span></strong> we:
        </p>
        <p>
            <ul>
                <li>
                    Ran <b><span class="loading-stats" id="total-jobs"><small><i class="fa fa-cog fa-spin"></i></small></span></b> jobs on <b><span class="loading-stats" id="total-trees"><small><i class="fa fa-cog fa-spin"></i></small></span></b> unique trees and <b><span class="loading-stats" id="total-kernels"><small><i class="fa fa-cog fa-spin"></i></small></span></b> unique kernels.
                </li>
                <li>
                    Performed <b><span class="loading-stats" id="total-builds"><small><i class="fa fa-cog fa-spin"></i></small></span></b> builds on <b><span class="loading-stats" id="total-defconfigs"><small><i class="fa fa-cog fa-spin"></i></small></span></b> unique defconfigs.
                </li>
                <li>
                    Performed <b><span class="loading-stats" id="total-boots"><small><i class="fa fa-cog fa-spin"></i></small></span></b> boots on <b><span class="loading-stats" id="total-boards"><small><i class="fa fa-cog fa-spin"></i></small></span></b> unique boards, across <b><span class="loading-stats" id="total-archs"><small><i class="fa fa-cog fa-spin"></i></small></span></b> architectures and <b><span class="loading-stats" id="total-socs"><small><i class="fa fa-cog fa-spin"></i></small></span></b> unique SoCs.
                </li>
            </ul>
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <p>
            On average we:
        </p>
        <p>
            <ul>
                <li>Ran <b><span class="loading-stats" id="jobs-avg"><small><i class="fa fa-cog fa-spin"></i></small></span></b> jobs per day.</li>
                <li>Performed <b><span class="loading-stats" id="builds-avg"><small><i class="fa fa-cog fa-spin"></i></small></span></b> builds per day.</li>
                <li>Performed <b><span class="loading-stats" id="boots-avg"><small><i class="fa fa-cog fa-spin"></i></small></span></b> boots per day.</li>
            </ul>
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
            <small>
            (Statistics are calculated daily at <time datetime="12:00:00Z">12:00</time>&nbsp;<a href="http://en.wikipedia.org/wiki/Coordinated_Universal_Time">UTC</a>)
            </small>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div><h5>Total Jobs</h5></div>
        <div id="job-trends" class="stat-graph">
            <div class="pull-center">
                <small>
                    <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
                </small>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div><h5>Total Builds</h5></div>
        <div id="build-trends" class="stat-graph">
            <div class="pull-center">
                <small>
                    <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
                </small>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div><h5>Total Boots</h5></div>
        <div id="boot-trends" class="stat-graph">
            <div class="pull-center">
                <small>
                    <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
                </small>
            </div>
        </div>
    </div>
</div>
{%- endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-stats" src="/static/js/lib/require.js"></script>
{%- endblock %}
