{% extends "base.html" %}
{%- block meta -%}
<meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
<style type="text/css">
    .conflicts-table > thead {
        font-weight: bold;
    }
    input[type="checkbox"] {
        display: block;
        margin: 0 auto;
    }
</style>
{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3 id="details">{{ body_title|safe }}</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>Board</dt>
            <dd class="loading-content" id="board">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Tree</dt>
            <dd class="loading-content" id="tree">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git branch</dt>
            <dd class="loading-content" id="git-branch">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git describe</dt>
            <dd class="loading-content" id="git-describe">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git URL</dt>
            <dd class="loading-content" id="git-url">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git commit</dt>
            <dd class="loading-content" id="git-commit">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Date</dt>
            <dd class="loading-content" id="job-date">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div id="pie-chart" class="chart-div pull-center">
            <div id="pie-chart-heading">
                <table id="pie-chart-legend" class="pie-chart">
                    <tbody>
                        <tr>
                            <td id="success-cell" class="click-btn">0</td>
                            <td>&nbsp;/&nbsp;</td>
                            <td id="fail-cell" class="click-btn">0</td>
                            <td>&nbsp;/&nbsp;</td>
                            <td id="unknown-cell" class="click-btn">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="test-chart"></div>
        </div>
    </div>
</div>
{%- if lab_names|length > 0 %}
    {%- for lab in lab_names|sort %}
    {% if lab %}
<div class="row">
    <div class="page-header">
        <h4>&#171;{{ lab }}&#187;</h4>
    </div>

    <div id="lab-table-loading-{{ lab }}" class="pull-center">
        <small>
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            &nbsp;retrieving build data&hellip;
        </small>
    </div>
{%- if is_mobile %}
    <div class="table-responsive" id="lab-table-div-{{ lab }}">
{%- else %}
    <div class="table" id="lab-table-div-{{ lab }}">
{%- endif %}
        <table class="table table-hover table-striped table-condensed clickable-table big-table" id="lab-table-{{ lab }}">
        </table>
    </div>
</div>
    {% endif %}
    <input type="hidden" class="lab-names" value="{{ lab }}">
    {%- endfor %}
{% else %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div><p><strong>No data found.</strong></p></div>
    </div>
</div>
{%- endif %}
<input type="hidden" id="job-name" value="{{ job }}">
<input type="hidden" id="kernel-name" value="{{ kernel }}">
<input type="hidden" id="board-name" value="{{ board }}">
<input type="hidden" id="search-filter" value="{{ search_filter }}">
<input type="hidden" id="file-server" value="{{ config['FILE_SERVER_URL'] }}">
{%- endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-tests-board-job-kernel" src="/static/js/lib/require.js"></script>
{%- endblock %}
