<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="btn-group btn-group-sm">
        <button id="all-btn" type="button" class="btn btn-default" disabled>All</button>
        <button id="success-btn" type="button" class="btn btn-default" disabled>Successful</button>
        <button id="fail-btn" type="button" class="btn btn-default" disabled>Regressions</button>
        <button id="unknown-btn" type="button" class="btn btn-default" disabled>Unknown</button>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <div id="search-area" class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-search"></i>
        </span>
        <input id="data-filter" type="search" class="form-control input-sm" placeholder="Filter the results">
    </div>
</div>
