{% extends "base.html" %}
{%- block meta -%}
<meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block head %}
{{ super() }}
<style type="text/css">
    .conflicts-table > thead {
        font-weight: bold;
    }
    input[type="checkbox"] {
        display: block;
        margin: 0 auto;
    }
</style>
<link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap-1.10.11.css">
<link rel="stylesheet" type="text/css" href="/static/css/kci-graphs-2015.9.1.css">
{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3 id="details">{{ body_title|safe }}</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <dl class="dl-horizontal">
            <dt>Tree</dt>
            <dd class="loading-content" id="tree">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git branch</dt>
            <dd class="loading-content" id="git-branch">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git describe</dt>
            <dd class="loading-content" id="git-describe">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git URL</dt>
            <dd class="loading-content" id="git-url">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Git commit</dt>
            <dd class="loading-content" id="git-commit">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true" title="Loading"></i>&nbsp;loading&hellip;
                </small>
            </dd>
            <dt>Date</dt>
            <dd class="loading-content" id="job-date">
                <small>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>&nbsp;loading&hellip;
                </small>
            </dd>
        </dl>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div id="test-chart" class="chart-div pull-center"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="page-header">
            <h3>Available Test Plans</h3>
        </div>
        <div id="table-loading" class="pull-center">
            <small>
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                &nbsp;retrieving test data&hellip;
            </small>
        </div>
    {%- if is_mobile %}
        <div class="table-responsive" id="table-div">
    {%- else %}
        <div class="table" id="table-div">
    {%- endif %}
            <table class="table table-hover table-striped table-condensed clickable-table big-table" id="planstable">
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="job-name" value="{{ job }}">
<input type="hidden" id="branch-name" value="{{ branch }}">
<input type="hidden" id="kernel-name" value="{{ kernel }}">
{%- endblock %}
{%- block scripts %}
<script data-main="/static/js/kci-tests-job-branch-kernel" src="/static/js/lib/require.js"></script>
{%- endblock %}
