{% extends "base.html" %}
{%- block meta -%}
    <meta name="csrf-token" content="{{ csrf_token_r() }}">
{%- endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    table.tests-table {
        font-size: 93%;
    }

    table.tests-table thead {
        font-weight: bold;
    }
</style>
{% endblock %}
{%- block title %}{{ page_title|safe }}{%- endblock %}
{%- block content %}
<div class="row">
    <div class="page-header">
        <h3>{{ body_title|safe }}</h3>
    </div>
</div>
{%- if test_suites|length() > 0 %}
<input type="hidden" id="test-suite-names" value="{{ test_suites|join(',') }}">
    {%- for suite in test_suites %}
    {% if suite %}
<div class="row">
    <div class="page-header">
        <h4>&#171;{{ suite }}&#187;</h4>
    </div>
    <div id="suite-{{ suite }}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pull-center">
            <small>
                <i class="fa fa-cog fa-spin"></i>&nbsp;loading&hellip;
            </small>
        </div>
    </div>
</div>
    {% endif %}
    {%- endfor %}
{% else %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div><p><strong>No data found.</strong></p></div>
    </div>
</div>
{%- endif %}
{%- endblock %}{# content block #}
{%- block scripts %}
<script data-main="/static/js/kci-tests-all" src="/static/js/lib/require.js"></script>
{%- endblock %}
