---
- name: Install OS dependencies
  apt:  pkg={{ item }}
        state=latest
        update_cache=yes
  with_items:
    - build-essential
    - git
    - python-pip
    - python-apt
    - python2.7-dev
    - python-virtualenv
    - uwsgi
    - uwsgi-plugin-python
    - nodejs
  tags:
    - install

- name: Add nginx stable PPA repository
  apt_repository: repo='ppa:nginx/stable'
  when: ansible_lsb.id == "Ubuntu"

- name: Install nginx
  apt:  pkg={{ item }}
        state=latest
        update_cache=yes
  with_items:
    - nginx
    - nginx-extras
    - rsync
  tags:
    - install

- name: Add redis PPA (Ubuntu)
  apt_repository: repo='ppa:rwky/redis'
                  update_cache=yes
  when: ansible_lsb.id == "Ubuntu"
  tags:
    - install
    - redis

- name: Install redis server
  apt: pkg=redis-server
  tags:
    - install
    - redis

- name: Make sure redis is running
  service:  name=redis-server
            state=started
  tags:
    - install
    - redis
